.mega-menu ul,.mega-menu ul li {
	list-style: none;
}

.mega-menu ul {
	position: relative;
	padding: 0;
	margin: 0;
}

.mega-menu ul li ul {
	display: block;
}

.mega-menu .sub {
	display: block;
}

.mega-menu .sub ul {
	display: block;
}

.orange {
	/* font: normal 13px "Trebuchet MS",Arial,Helvetica,sans-serif; */
	line-height: 14px;
}

.orange ul.mega-menu,.orange ul.mega-menu,.orange ul.mega-menu li {
	margin-right: 5px;
	padding: 0;
	border: none;
}

.orange ul.mega-menu {
	/* background: -webkit-linear-gradient(bottom, #5BBC47, #1D981F); For Safari 5.1 to 6.0
 	background: -o-linear-gradient(bottom, #5BBC47, #1D981F); For Opera 11.1 to 12.0
  	background: -moz-linear-gradient(bottom, #5BBC47, #1D981F); For Firefox 3.6 to 15
  	background: linear-gradient(to bottom, #5BBC47, #1D981F); Standard syntax */
  	background: #6DB33F none repeat scroll 0% 0%;
	width: 100%;
	height: 40px;
	/* border-right: 0px solid #bd3e00;
	border-left: 0px solid #bd3e00; */
	position: relative;
	/* box-shadow: 0px 0px 2px 0px black; */
}

.orange ul.mega-menu li {
	float: left;
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-weight: bold;
}

.orange ul.mega-menu li a {
	float: left;
	display: block;
	color: #fff;
	padding: 12px 38px 12px 25px;
	text-shadow: 1px 1px 1px #000;
	text-decoration: none;
}

.orange ul.mega-menu li a.dc-mega {
	position: relative;
}

.orange ul.mega-menu li a .dc-mega-icon {
	display: block;
	position: absolute;
	top: 18px;
	right: 15px;
	width: 8px;
	height: 6px;
	background: url(images/arrow.png) no-repeat 0 0;
}

.orange ul.mega-menu li.mega-hover a {
	color: #F9E18C;
	/* background: #F2EE5C; */
	text-shadow: none;
}

.orange ul.mega-menu li a:hover {
	color: #9DA1F6;
	/* background: #F2EE5C; */
	text-shadow: none;
}

.orange ul.mega-menu li a:hover {
	color: #F9E18C;
	/* background: none repeat scroll 0% 0% #fff !important; */
	text-shadow: none;
}

.orange ul.mega-menu li.mega-hover a .dc-mega-icon {
	background-position: 0 100%;
}

.orange ul.mega-menu li .sub-container {
	position: absolute;
	background: url(images/bg_sub_left.png) no-repeat 0 100%;
	padding-left: 20px;
	margin-left: -3px;
}

.orange ul.mega-menu li .sub {
	/* background: -webkit-linear-gradient(top, #F2EE5C, #918E14);
	For Safari
	background: -o-linear-gradient(bottom, #F2EE5C, #918E14);
	For Opera 11.1 to 12.0
	background: -moz-linear-gradient(bottom, #F2EE5C, #918E14);
	For Firefox 3.6 to 15
	background: linear-gradient(to bottom, #FFF, #FFF) repeat scroll 0% 0% transparent;
	background: rgba(255, 255, 255, 0.90);
	Standard syntax
	padding: 10px;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 3px 0px white; */
	
	background: #f1f1f1;
	padding: 10px;
	border: 1px solid #CCC;
	border-top: 4px solid gray;
	box-shadow: 0px 0px 3px 0px #FFF;
	/* display: block !important; */
	-webkit-box-shadow: 0px 8px 8px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 8px 8px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 8px 8px 2px rgba(0, 0, 0, 0.5);
	
}

.orange ul.mega-menu li .sub .row {
	width: 100%;
	overflow: hidden;
	clear: both;
}

.orange ul.mega-menu li .sub li {
	list-style: none;
	float: none;
	width: 170px;
	font-size: 1em;
	font-weight: normal;
}

.orange ul.mega-menu li .sub li.mega-hdr {
	float: left;
}

.orange ul.mega-menu li .sub li.mega-hdr.last {
	margin-right: 0;
}

.orange ul.mega-menu li .sub a {
	background: none;
	border: none;
	text-shadow: none;
	color: #111;
	padding: 7px 10px;
	display: block;
	float: none;
	text-decoration: none;
	font-size: 0.9em;
}

.orange ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a {
	min-width: 150px;
	text-align: left;
	padding: 5px;
	margin-bottom: 5px;
	background: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
	/* text-shadow: 1px 1px 1px #333; */
	border-bottom: 1px solid #DADADB;
}

.orange ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a:hover {
	color: #F9E18C;
	background: #efefef;
	text-shadow: none;
}

.orange ul.mega-menu .sub li.mega-hdr li a {
	padding: 4px 5px 4px 10px;
	font-weight: normal;
	width: 150px;
}

.orange ul.mega-menu .sub li.mega-hdr li a:hover {
	color: #333 !important;
	/* background: #efefef url(images/arrow_on.png) no-repeat 5px 8px; */
}

.orange ul.mega-menu .sub li.mega-hdr li a > .menu_text_wrap_span:hover {
	color: #333 !important;
	/* background: #efefef url(images/arrow_on.png) no-repeat 5px 8px; */
}

.orange ul.mega-menu .sub ul li {
	padding-right: 0;
}

.orange ul.mega-menu li .sub-container.non-mega .sub {
	padding: 20px 20px 20px 0;
}

.orange ul.mega-menu li .sub-container.non-mega li {
	padding: 0;
	width: 190px;
	margin: 0;
}

.orange ul.mega-menu li .sub-container.non-mega li a {
	padding: 7px 5px 7px 22px;
	background: url(images/arrow_off.png) no-repeat 7px 10px;
}

.orange ul.mega-menu li .sub-container.non-mega li a:hover {
	color: #5068ED;
	background: #efefef url(images/arrow_on.png) no-repeat 7px 10px;
}

/* bottom-left rounded corner */
.bottom-left-rounded-corner {
	-webkit-border-bottom-left-radius: 1px;
	-khtml-border-radius-bottomleft: 1px;
	-moz-border-radius-bottomleft: 1px;
	border-bottom-left-radius: 1px;
}

/* bottom-right rounded corner */
.bottom-right-rounded-corner {
	-webkit-border-bottom-right-radius: 1px;
	-khtml-border-radius-bottomright: 1px;
	-moz-border-radius-bottomright: 1px;
	border-bottom-right-radius: 1px;
}

.orange ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a > .menu_text_wrap_span {
	color: rgb(98, 98, 98) !important;
	font-size: 13px !important;
	font-weight: bold !important;
	text-transform: capitalize !important;
}