<div align="center" id="content">
	<h1 id="title"></h1>
	<applet id="qz" code="qz.PrintApplet.class"
		archive="http://172.16.16.127:8080/aios-web/jar/qz-print.jar" 
		width="0" height="0" align="left">
	</applet>
</div>
<script type="text/javascript"
	src="http://172.16.16.127:8080/aios-web/js/jZebra.js"></script>
<script type="text/javascript" 
src="http://172.16.16.127:8080/aios-web/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript">
$(function() {
	//setTimeout(printHTML(),2000)
	printHTML();

});

</script>
