 
/* get rid of those system borders being generated for A tags */
a:active {
  outline:none;
}

:focus {
  -moz-outline-style:none;
}

/* root element for scrollable */
.vertical {  
	background-color:#4C4C4C;
	display:none;
	height:300px;
	overflow:hidden;
	position:absolute;
	width:215px;
	z-index:1000;
	-moz-border-radius:0 0 3px 3px;
	-webkit-border-bottom-left-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	 
}

/* root element for scrollable items */
.items {	
	position:absolute;
	
	/* this time we have very large space for height */	
	height:20000em;	
	
	*margin-top:10px;
	text-align:left;
}

/* single scrollable item */
.item {
	/*border-bottom:1px solid #ddd;*/
	display:block;
	font-size:1.1em;
	font-weight:bold;
	color:#ffffff;
	height:36px;
	
	line-height:36px;
	padding:0 0 0 45px;
	 
}

/* elements inside single item */
.item img {
	float:left;
	margin-right:20px;
	height:180px;
	width:240px;
}


/* the action buttons above the scrollable */
#actions a {
	font-size:11px;		
	cursor:pointer;
	color:#666;
}

#actions a:hover {
	text-decoration:underline;
}

 .vtitle
{
	font:bold 15px Arial;
	color:#FFFFFF;
	letter-spacing:0.2px;
	text-align:right;
	width:167px;
	padding-top:5px;
}
 .leftNav
 {
	color:#cacaca;
	font:bold 13px Arial;
	text-align:left;
	width:200px;
	background-image:url('./images/catagoryBackground.gif');
	background-repeat:no-repeat;
	height:380px;
	float:left;
	margin-bottom:10px;
 }
 .selectedCategory
 {
	background-image:url('selected.gif');
	background-repeat:no-repeat;
	background-position:8px;
	height:20px;
	color:#000000;
 }
 .selectedCategory span
 {
	margin-right:20px;
 }
 .Category 
 {
	background-image:url('./images/normalCategory.png');
	background-repeat:no-repeat;
	background-position:8px 50%;
	height:18px;
	width:122px;
	*margin-right:20px;
 }
 
 .scrollButtons
 {
	float:left;
	position:relative;
	text-align:left;
	width:11px;
	z-index:1000;
	margin:12px 0 0 10px;
 }
 .centerContainer
 {
	width:1000px;
	margin:0 auto;
 }
 .navigate
 {
	display:block;
	float:left;
	height:18px;
	width:18px;
	cursor:pointer;
}
 .nextPage
 {
	background-image:url("../images/upArrow.png");
	background-repeat:no-repeat;
	padding:0 11px 0 0; 
 }
  .prevPage
 {
	background-image:url("../images/downArrow.PNG");
	background-repeat:no-repeat;
	padding:0 11px 0 0;
	 
 }
 .disabled
 {
	opacity:0.5;
 }
 
.item p:hover{
color:#FFF6BF;
cursor:pointer;
}
.companyList
{
	
}
 