.mandatory {
	color: red;
	margin: 0px;
	font-size: 15px;
}

#hrm label {
	font-family: 'Segoe UI',Segoe,'Segoe WP',Tahoma,"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 95%;
	width: 165px;
	text-align: right;
	float: left;
	padding-top: 5px;
}

#hrm textarea {
	overflow: auto;
}

.buttons { /* margin:10px; */
	margin-top: 7px !important;
}

.buttons>div {
	cursor: pointer;
}

#hrm div {
	
}

#hrm a.del_btn {
	display: block;
	float: left;
	margin-left: 3px;
	padding: 0px !important;
}

.line {
	border-top: 1px solid #a7a6aa;
}

{
color
:
#a7a6aa
;


}
.width3{
	width: 3% !important;
}
.width5 {
	width: 5% !important;
}

.width10 {
	width: 10% !important;
}

.width15 {
	width: 15% !important;
}

.width18 {
	width: 18% !important;
}

.width20 {
	width: 20% !important;
}

.width25 {
	width: 25% !important;
}
.width28{
	width: 28% !important;
}
.width30 {
	width: 30% !important;
}

.width33 {
	width: 33% !important;
}

.width35 {
	width: 35% !important;
}

.width36 {
	width: 36% !important;
}
.width38{
	width: 38% !important;
}
.width40 {
	width: 40% !important;
}

.width45 {
	width: 45% !important;
}

.width48 {
	width: 48% !important;
}

.width50 {
	width: 50% !important;
}

.width55 {
	width: 55% !important;
}

.width58 {
	width: 58% !important;
}

.width60 {
	width: 60% !important;
}

.width61 {
	width: 61% !important;
}
.width62 {
	width: 62% !important;
}
.width68 {
	width: 68% !important;
}
.width78{
	width: 78% !important;
}
.width51 {
	width: 51% !important;
}

.width56 {
	width: 56% !important;
}

.width41 {
	width: 40% !important;
}

.width46 {
	width: 46% !important;
}

.width96 {
	width: 96% !important;
}

.width97 {
	width: 97% !important;
}
.width98G {
	width: 98.7% !important;
}
input[type="text"],input[type="password"],textarea,.ui-autocomplete-input
	{
	border: 1px solid #C0C0C0;
	border-radius: 1px;
	/* box-shadow: 0 0 1px #CCCCCC; */
	background: #FcFcFc;
}

input[type="text"]:hover,input[type="text"]:focus,input[type="password"]:hover,input[type="password"]:focus
	{
	background: #fff7e7 !important;
}

select:hover,select:focus {
	background: #fff7e7 !important;
}

select {
	background: #fcfcfc;
	border: 1px solid #C0C0C0;
	border-radius: 2px;
	/* box-shadow: 0 0 1px #CCCCCC; */
}

.width49 {
	width: 49% !important;
}

.width65 {
	width: 65% !important;
}

.width70 {
	width: 70% !important;
}
.width72 {
	width: 72% !important;
}
.width80 {
	width: 80% !important;
}

.width90 {
	width: 90% !important;
}

.width95 {
	width: 95% !important;
}

.width98 {
	width: 98% !important;
}

.width99 {
	width: 99% !important;
}

.width100 {
	width: 100% !important;
	*width: 100% !important;
}

.height20 {
	height: 20px !important;
}

.lbl150 {
	width: 150px;
	text-align: right;
	margin: 5px;
}

.centeringDiv {
	margin: 0 auto !important;
}

#hrm fieldset {
	height: 100%;
	margin: 5px;
	padding: 1%;
	border: 1px solid #DDDDDD;
}

#hrm span {
	margin: 0px 3px 0px 3px;
	font-family: Arial, Verdan, Sans-Serif;
	font-weight: bold;
	font-size: 95%;
}
/*#hrm table tbody tr th
{
	text-shadow:0 1px 0 #FFFFFF;
	font-weight:bold;
	padding:0px!important;
	text-align:center;
	border-left:1px solid #CCCCCC;
	color:#616161;
	vertical-align:middle;
	background-color:#E6E6E6;
	border-bottom:1px solid #DEDEDE;
}*/
#hrm td {
	padding: 2px;
}

.hastable table {
	margin: 0px !important;
}

#hrm a.btn {
	margin: 0px !important;
	/* padding:0.3em 0 0 3em !important; */
	padding: 0 12px 3px 12px !important;
	display: inline;
	float: none;
	width: 0px !important;
}

.float-none {
	float: none !important;
}

label {
	text-align: left !important;
}

.view label {
	text-align: left !important;
}
/*******Style***********/
.formTop {
	height: 140px;
	margin: 0px 10px 0px 10px;
}

.showBills {
	float: left;
	margin-top: 12px;
	width: 60px;
}

.dueDate {
	width: 70%;
	height: 45px;
}

.filterBy {
	width: 60%;
	font-size: 95%;
	font-weight: bold;
	height: 80px;
}

.filterByList {
	width: 100px;
	float: right;
}

.filterByList label {
	display: block;
	padding-bottom: 20px;
	width: 100px;
	text-align: right;
}

.filterByList select {
	display: block;
	margin-bottom: 10px;
	width: 120px;
}

#sort-table td {
	text-align: center;
}

.finalResult th {
	text-align: center !important;
}

li {
	list-style-type: none;
}

table {
	margin: 0 0 0 0 !important;
}

.fieldset {
	border: 1px solid #DDDDDD;
	width: 95%;
	clear: both;
	font-size: 95%;
	font-weight: bold;
	line-height: 150%;
}

legend {
	background-color: #679BCE;
	border: 0 none;
	border-radius: 2px;
	color: white;
	padding: 3px 10px;
}

.fdst {
	margin-top: 5px;
}

.fdst label {
	height: 10px;
	display: block;
	float: left;
	margin: 0px 0px 15px 5px;
	width: 32%;
}

.fdst span {
	float: right;
}

.fdstButtons {
	width: 32%;
	float: left;
	margin: 0px 0px 15px 5px;
}

.pytDate {
	width: 33%;
	float: left;
}

.smallWidth {
	width: 45px !important;
}

.adjustDate {
	float: left;
	width: 32%;
}

.adjustDate span {
	float: left;
}

.clear-both {
	clear: both;
}

.clear-right {
	clear: right;
}

.rightTop {
	width: 470px;
}

.invoiceTop {
	height: 200px;
	margin: 0px 10px 0px 10px;
}

.display-inline {
	display: inline !important;
}

.display-block {
	display: block !important;
}

.LargeWidth {
	width: 70% !important;
}

.MSHeader {
	margin: 0 auto !important;
	width: 70%;
	text-align: right;
}

.ui-autocomplete {
	position: absolute !important;
	width: 20%;
}

.ui-autocomplete li {
	margin-top: 5px;
}

.normalfont {
	font-weight: normal !important;
}

.view div {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

input {
	margin: 2px !important;
	vertical-align: middle;
}

select {
	margin: 2px !important;
	vertical-align: middle;
}

checkbox {
	margin: 2px !important;
	vertical-align: middle;
}

textarea {
	margin: 2px !important;
	vertical-align: middle;
	resize: none;
}

radio {
	margin: 2px !important;
	vertical-align: middle;
}

.selectable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 150px;
	overflow-x: hidden;
	overflow-y: auto;
	float: left;
}

.selectable li {
	padding: 0.4em;
	cursor: pointer;
}

.selectlist {
	cursor: pointer;
	line-height: 20px;
}

.err {
	color: red;
}

/*** For styling the code combination ***/
#codebox {
	border: solid 1px #DDDDDD;
	padding: 3px;
	display: none;
	padding: 15px;
	width: 55%;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
/****************CSS Modified for Grid Width*************/
#gbox_list2 {
	width: 100% !important;
}

.ui-jqgrid-view {
	width: 100% !important;
}

.ui-jqgrid-btable {
	width: 100% !important;
	vertical-align: middle !important;
}

.ui-jqgrid-htable {
	width: 100% !important;
}

.ui-jqgrid-bdiv {
	width: 100% !important;
}

.ui-jqgrid-hdiv {
	width: 100% !important;
}

.ui-jqgrid-pager {
	width: 100% !important;
}

.ui-jqgrid .ui-jqgrid-hbox {
	padding-right: 0 !important;
	width: 100% !important;
}

.mou-cursor {
	cursor: pointer;
}

#search {
	cursor: pointer;
}

.margin-select3 select {
	margin: 3px;
}

.ui-jqgrid-hbox {
	
}
/*** Task Management**/
.urgent {
	background-image: url("../images/urgent.png");
	background-repeat: no-repeat;
	padding-left: 25px;
	height: 16px;
}

.highest {
	background-image: url("../images/highest.png");
	background-repeat: no-repeat;
	padding-left: 25px;
	height: 16px;
}

.high {
	background-image: url("../images/high.png");
	background-repeat: no-repeat;
	padding-left: 25px;
	height: 16px;
}

.normal {
	background-image: url("../images/normal.png");
	background-repeat: no-repeat;
	padding-left: 25px;
	height: 16px;
}

.low {
	background-image: url("../images/low.png");
	background-repeat: no-repeat;
	padding-left: 25px;
	height: 16px;
}

.lowest {
	background-image: url("../images/lowest.png");
	background-repeat: no-repeat;
	padding-left: 25px;
	height: 16px;
}

.create-task div label {
	width: 30% !important;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.width45 {
	width: 45% !important;
}

.pad10 {
	padding: 10px;
}

.reccurence_container {
	padding: 10px;
}

.reminder_container {
	padding: 10px;
}

.col-1 input {
	float: left;
}

.width45 {
	width: 45% !important;
}

.padTop20 {
	padding-top: 20px;
}

.padBot20 {
	padding-bottom: 20px;
}

.marL10 {
	margin-left: 10px;
}

/****for text area counter****/
#text_area_input {
	width: 508px;
	min-height: 36px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	border-color: #AEAEAE #BBBBBB #BBBBBB;
	border-style: solid;
	border-width: 1px;
	border-top: 2px solid #E8E8E8;
}

#progressbar {
	width: 0px;
	height: 16px;
}

#progressbar1 {
	width: 0px;
	height: 16px;
}

#barbox {
	float: right;
	height: 16px;
	background-color: #FFFFFF;
	width: 100px;
	border: solid 2px #000;
	margin-right: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#count {
	float: right;
	margin-right: 8px;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	margin: 5px 5px 0 0;
}

/****Added By Zaabur For Loading****/
.apps-marquee {
	font: bold 13px Arial, sans-serif;
	height: 0;
	left: 20%;
	position: fixed;
	text-align: center;
	top: 0;
	width: 60%;
	z-index: 1001;
}

.apps-marquee-item {
	-moz-box-orient: vertical;
	color: #FFF999;
	display: inline-block;
	margin: 0 5px 4px;
}

.apps-marquee {
	font: bold 13px Arial, sans-serif;
	text-align: center;
	top: 87px;
}

.apps-marquee-round-top {
	border-bottom: 3px solid;
	border-left: 3px dotted transparent;
	border-right: 3px dotted transparent;
}

.apps-marquee-text {
	background: none repeat scroll 0 0 #FFF999;
	border-color: #FFF999;
	border-style: solid;
	border-width: 0 3px;
	color: black;
	padding: 2px 5px;
}

.apps-marquee-round-bottom {
	border-left: 3px dotted transparent;
	border-right: 3px dotted transparent;
	border-top: 3px solid;
}

input,select {
	padding: 2px !important;
}

/* comment use case div view */
.comment-style {
	padding: 1px;
	text-indent: 2px;
	background-color: #7C7C77;
	margin-top: 2px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.comment-style label {
	color: #FFFFFF;
	font-family: "CenturyGothicRegular", "Century Gothic", Arial, Helvetica,
		sans-serif;
	font-size: 14px;
}

.comment-style label span {
	color: #FFFF11;
	font-family: "CenturyGothicRegular", "Century Gothic", Arial, Helvetica,
		sans-serif;
	font-size: 15px;
}

.tooltip-css {
	display: none;
	position: absolute;
	border: 1px solid #333;
	background-color: #161616;
	border-radius: 5px;
	padding: 5px;
	color: #fff;
	font-family: "CenturyGothicRegular", "Century Gothic", Arial, Helvetica,
		sans-serif;
	font-size: 14px;
}

.box-model {
	padding: 5px;
	font-size: 13px;
	border: 1px solid #DDDDDD;
}

.right-align {
	text-align: right !important;
}
/***********************POS STYLE************************/
.pos-item-table {
	table-layout: fixed; 
}

.box-model {
	display: table;
	float: left;
	width: 90%;
	padding: 5px;
	min-height: 40px;
	max-height: 40px;
	border: 1px solid #DDDDDD;
	max-height: 50px;
	background-color: #F7F7F7;
}

.box-model:HOVER {
	background-color: #D7D7D7;
}

.box-model>span {
	display: table-cell;
	vertical-align: middle;
	height: 22px;
	cursor: pointer;
	font-size: 12px!important;
	text-align: center;
}

.pos-title {
	color: #008000;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
	width: 100%;
	float: left;
}

.content-item-table {
	max-height: 310px;
	overflow-x: hidden;
	overflow-y: auto;
}

.pos-seperator {
	border-bottom: 1px solid #9DA7B2;
}

.inner-pos-div>div {
	padding: 3px;
}

.c_c_c_c>div {
	display: none;
}

.selected {
	background: url("../images/checked.png");
	background-repeat: no-repeat;
}

.pos-right-content div {
	padding: 5px;
}

.coins {
	background: url("../images/icons/coins.png") no-repeat scroll 25% center;
}

.card_visa {
	background: url("../images/icons/credit_card.png") no-repeat scroll 25%
		center;
}

.bank_pencil {
	background: url("../images/icons/bank_pencil.png") no-repeat scroll 18%
		center;
}

.coupon {
	background: url("../images/icons/coupon.png") no-repeat scroll 15%
		center/20px 15px rgba(0, 0, 0, 0);
}

.exchange {
	background: url("../images/icons/exchange.png") no-repeat scroll 9%
		center/20px 15px rgba(0, 0, 0, 0);
}

.voucher {
	background: url("../images/icons/gift_voucher.png") no-repeat scroll 0%
		center/33px 50px rgba(0, 0, 0, 0);
}

.otherDetails {
	padding: 3px;
}


.viewlabel{
		padding: 5px;
}


.float-left {
	float:left!important;
}

.float-right {
	float:right!important;
}

.view-content div{
	margin-top: 5px!important;
}

.hasDatepick {
	border: 1px solid #ccc !important;
	background-color: #FFF8AF !important;
	color: #393939 !important;
}

.hasDatepick:focus {
	background-color: #FFF8AF !important;
}
