 ....loading....
230 x 146
Firebug's log limit has been reached. 0 entries not shown.		Preferences	 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div id="body-wrapper">
<div id="sidebar">
<div id="sidebar-wrapper">
<h1 id="sidebar-title">
</h1>
<a href="#">
<img id="logo" alt="Simpla Admin logo" src="resources/images/logo.png">
</a>
<div id="profile-links">
</div>
<ul id="main-nav">
</ul>
<div id="messages" style="display: none;">
</div>
</div>
</div>
<div id="main-content">
</div>
</div>
<div id="facebox" style="display: none;">
</div>
</body>
</html>
html {
font-size:100%;
height:100%;
margin-bottom:1px;
}
/*body{
background:url("../images/bg-body.gif") repeat-y scroll left top;
color:#555555;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
}*/
#body-wrapper {
background:url("../images/bg-radial-gradient.gif") no-repeat fixed 230px top transparent;
}
 
 
 
strong {
color:#333333;
font-weight:bold;
}
small {
font-size:0.85em;
}
pre {
font-family:monospace;
}
p {
line-height:1.6em;
padding:5px 0 10px;
}
.clear {
clear:both;
}
.align-left {
float:left;
}
.align-right {
float:right;
}
/*.button {
background:url("../images/bg-button-green.gif") repeat-x scroll left top #459300 !important;
border:1px solid #459300 !important;
color:#FFFFFF !important;
cursor:pointer;
display:inline-block;
font-family:Verdana,Arial,sans-serif;
font-size:11px !important;
padding:4px 7px !important;
}
.button:hover {
text-decoration:underline;
}
.button:active {
padding:5px 7px 3px !important;
}*/
a.remove-link {
color:#BB0000;
}
a.remove-link:hover {
color:#000000;
}
#leftsidebar {
	background:url("../images/bg-body.gif") repeat-y scroll left top;
	color:#888888;
	font-size:11px;
	margin-top:10px!important;
	position:absolute;
	width:230px;
	z-index:1;	
}
#leftsidebar #leftsidebar-wrapper {
margin:0 0 0 9px;
}
#leftsidebar a, #leftsidebar a:active {
color:#CCCCCC;
}
#leftsidebar a:hover {
color:#FFFFFF;
}
#leftsidebar #leftsidebar-title {
margin:40px 0 40px 15px;
}
#leftsidebar #logo {
margin:40px 0;
}
#leftsidebar #profile-links {
line-height:1.5em;
padding:0 15px 20px;
text-align:right;
}
#leftsidebar #main-nav {
font-family:Helvetica,Arial,sans-serif;
margin:10px 0 0 15px;
padding:0;
width:206px;
}
#leftsidebar #main-nav li {
list-style:none outside none;
padding-bottom:10px;
text-align:right;
}
#leftsidebar #main-nav li a.nav-top-item {
background:url("../images/bg-menu-item-green.gif") no-repeat scroll right center transparent;
color:#FFFFFF;
cursor:pointer;
display:block;
font-size:14px;
padding:10px 15px;
text-decoration:none;
}
#leftsidebar #main-nav li a.current {
background-image:url("../images/bg-menu-item-current.gif") !important;
color:#333333;
font-weight:bold;
}
#leftsidebar #main-nav li a.current:hover {
color:#333333;
}
#leftsidebar #main-nav ul {
font-size:12px;
margin:0;
padding:0;
}
#leftsidebar #main-nav ul li {
list-style:none outside none;
margin:0;
padding:0;
text-align:right;
}
#leftsidebar #main-nav ul li a {
color:#AAAAAA;
display:block;
font-size:13px;
line-height:1.2em;
padding:8px 15px;
cursor:pointer;
}
#leftsidebar #main-nav ul li a:hover, #leftsidebar #main-nav ul li a.current, #leftsidebar #main-nav ul li a.current:hover {
color:#FFFFFF;
}
#leftsidebar #main-nav ul li a.current {
background:url("../images/menu-current-arrow.gif") no-repeat scroll right center transparent !important;
}
 
#messages h4 {
padding:10px 0;
}
#messages fieldset {
margin:0;
}
#messages textarea {
margin:0 0 15px;
}
.column-left {
float:left;
width:48%;
}
.column-right {
float:right;
width:48%;
}
#page-intro {
font-size:17px;
padding:0 0 20px;
}
#footer {
border-top:1px solid #CCCCCC;
font-size:12px;
margin:40px 0 0;
padding:20px 0;
}
#main-content ol {
padding:0 0 0 24px;
}
#main-content ol li {
list-style:decimal outside none;
padding:4px 0;
}
.content-box {
background:none repeat scroll 0 0 #FFFFFF;
border:1px solid #CCCCCC;
margin:0 0 20px;
}
.content-box-header {
background:url("../images/bg-content-box.gif") repeat-x scroll left top #E5E5E5;
height:40px;
margin-top:1px;
}
.content-box-header h3 {
float:left;
padding:12px 15px 10px;
}
ul.content-box-tabs {
float:right;
margin:0 !important;
padding:12px 15px 0 0 !important;
}
ul.content-box-tabs li {
background-image:none !important;
float:left;
margin:0;
padding:0 !important;
}
ul.content-box-tabs li a {
border-bottom:0 none;
color:#333333;
display:block;
margin:1px;
padding:8px 10px;
}
ul.content-box-tabs li a:hover {
color:#57A000;
}
ul.content-box-tabs li a.current {
background:none repeat scroll 0 0 #FFFFFF;
border-color:#CCCCCC #CCCCCC -moz-use-text-color;
border-style:solid solid none;
border-width:1px 1px 0;
margin:0;
}
.content-box-content {
border-top:1px solid #CCCCCC;
font-size:13px;
padding:20px;
}
#main-content table {
/*border-collapse:collapse;*/
width:100%;

}

#main-content table tfoot td .bulk-actions {
padding:15px 0 5px;
}
#main-content table tfoot td .bulk-actions select {
border:1px solid #CCCCCC;
padding:4px;
}
#main-content .pagination {
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:10px;
padding:20px 0 5px;
text-align:right;
}
.pagination a {
margin:0 5px 0 0;
padding:3px 6px;
}
.pagination a.number {
border:1px solid #DDDDDD;
}
.pagination a.current {
background:url("../images/bg-button-green.gif") repeat-x scroll left top #469400 !important;
border-color:#459300 !important;
color:#FFFFFF !important;
}
.pagination a.current:hover {
text-decoration:underline;
}
.shortcut-button {
background:url("../images/shortcut-button-bg.gif") no-repeat scroll left top #F7F7F7;
border:1px solid #CCCCCC;
display:block;
margin:0 0 20px;
width:120px;
}
.shortcut-button span {
border:1px solid #FFFFFF;
color:#555555;
display:block;
font-size:13px;
line-height:1.3em;
padding:15px 10px;
text-align:center;
}
.shortcut-button span img {
margin-bottom:10px;
}
.shortcut-button:hover {
background:none repeat scroll 0 0 #FFFFFF;
}
.shortcut-button span:hover {
color:#57A000;
}
ul.shortcut-buttons-set li {
background:none repeat scroll 0 50% transparent;
float:left;
margin:0 15px 0 0;
padding:0 !important;
}
 
.notification {
background-position:10px 11px !important;
background-repeat:no-repeat !important;
border:1px solid;
font-size:13px;
margin:0 0 15px;
padding:0;
position:relative;
width:99.8%;
}
.attention {
background:url("../images/icons/exclamation.png") no-repeat scroll 10px 11px #FFFBCC;
border-color:#E6DB55;
color:#666452;
}
.information {
background:url("../images/icons/information.png") repeat scroll 0 0 #DBE3FF;
border-color:#A2B4EE;
color:#585B66;
}
/*.success {
background:url("../images/icons/tick_circle.png") repeat scroll 0 0 #D5FFCE;
border-color:#9ADF8F;
color:#556652;
}
.error {
background:url("../images/icons/cross_circle.png") repeat scroll 0 0 #FFCECE;
border-color:#DF8F8F;
color:#665252;
}*/
.notification div {
display:block;
font-style:normal;
line-height:1.5em;
padding:10px 10px 10px 36px;
}
.notification .close {
color:#990000;
font-size:9px;
position:absolute;
right:5px;
top:5px;
}
.input-notification {
background-color:transparent;
background-position:left 2px;
background-repeat:no-repeat;
margin:0 0 0 5px;
padding:2px 0 2px 22px;
}
#login-wrapper #login-content .notification {
background-color:#141414;
border:0 none;
color:#FFFFFF !important;
}
body#login {
background:url("../images/bg-login.gif") repeat scroll 0 0 #222222;
color:#FFFFFF;
}
#login-wrapper {
background:url("../images/bg-login-top.png") repeat-x scroll left top transparent;
}
#login-wrapper #login-top {
padding:140px 0 50px;
text-align:center;
width:100%;
}
#login-wrapper #login-content {
margin:0 auto;
text-align:left;
width:300px;
}
#login-wrapper #login-content label {
color:#FFFFFF;
float:left;
font-family:Helvetica,Arial,sans-serif;
font-size:14px;
font-weight:normal;
padding:0;
width:70px;
}
#login-wrapper #login-content input {
background:none repeat scroll 0 0 #FFFFFF;
border:0 none;
float:right;
margin:0 0 20px;
width:200px;
}
#login-wrapper #login-content p {
padding:0;
}
#login-wrapper #login-content p#remember-password {
float:right;
}
#login-wrapper #login-content p#remember-password input {
background:none repeat scroll 0 0 transparent;
border:0 none;
float:none;
margin:0 10px 0 0;
width:auto;
}
#login-wrapper #login-content p .button {
margin-top:20px;
width:auto;
}
#facebox .b {
background:url("../images/b.png") repeat scroll 0 0 transparent;
}
#facebox .tl {
background:url("../images/tl.png") repeat scroll 0 0 transparent;
}
#facebox .tr {
background:url("../images/tr.png") repeat scroll 0 0 transparent;
}
#facebox .bl {
background:url("../images/bl.png") repeat scroll 0 0 transparent;
}
#facebox .br {
background:url("../images/br.png") repeat scroll 0 0 transparent;
}
#facebox {
left:0;
position:absolute;
text-align:left;
top:0;
z-index:100;
}
#facebox .popup {
position:relative;
}
#facebox table {
border-collapse:collapse;
}
#facebox td {
border-bottom:0 none;
padding:0;
}
#facebox .body {
background:none repeat scroll 0 0 #FFFFFF;
padding:10px;
width:370px;
}
#facebox .loading {
text-align:center;
}
#facebox .image {
text-align:center;
}
#facebox img {
border:0 none;
margin:0;
}
#facebox .footer {
border-top:1px solid #DDDDDD;
margin-top:10px;
padding-top:5px;
text-align:right;
}
#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
height:10px;
overflow:hidden;
padding:0;
width:10px;
}
#facebox_overlay {
height:100%;
left:0;
position:fixed;
top:0;
width:100%;
}
.facebox_hide {
z-index:-100;
}
.facebox_overlayBG {
background-color:#000000;
z-index:99;
}
div.wysiwyg {
background-color:#FFFFFF;
border:1px solid #CCCCCC;
padding:5px;
width:97.5% !important;
}
div.wysiwyg * {
margin:0;
padding:0;
}
div.wysiwyg ul.panel {
border-bottom:1px solid #CCCCCC;
float:left;
padding:0 0 5px;
width:100%;
}
div.wysiwyg ul.panel li {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:#FFFFFF;
background-image:none !important;
background-position:0 0;
background-repeat:repeat;
float:left;
list-style-type:none;
margin:0 2px;
padding:0 !important;
}
div.wysiwyg ul.panel li.separator {
border-left:1px solid #CCCCCC;
height:16px;
margin:0 4px;
}
div.wysiwyg ul.panel li a {
background:url("../images/icons/jquery.wysiwyg.gif") no-repeat scroll -64px -80px transparent;
border:0 none;
cursor:pointer;
display:block;
height:16px;
padding:0 !important;
width:16px;
}
div.wysiwyg ul.panel li a:hover, div.wysiwyg ul.panel li a.active {
}
div.wysiwyg ul.panel li a.active {
background-color:#F9F9F9;
border-color:#AAAAAA #CCCCCC #CCCCCC #AAAAAA;
border-right:1px solid #CCCCCC;
border-style:solid;
border-width:1px;
padding:0;
}
div.wysiwyg ul.panel li a.bold {
background-position:0 -16px;
}
div.wysiwyg ul.panel li a.italic {
background-position:-16px -16px;
}
div.wysiwyg ul.panel li a.strikeThrough {
background-position:-32px -16px;
}
div.wysiwyg ul.panel li a.underline {
background-position:-48px -16px;
}
div.wysiwyg ul.panel li a.justifyLeft {
background-position:0 0;
}
div.wysiwyg ul.panel li a.justifyCenter {
background-position:-16px 0;
}
div.wysiwyg ul.panel li a.justifyRight {
background-position:-32px 0;
}
div.wysiwyg ul.panel li a.justifyFull {
background-position:-48px 0;
}
div.wysiwyg ul.panel li a.indent {
background-position:-64px 0;
}
div.wysiwyg ul.panel li a.outdent {
background-position:-80px 0;
}
div.wysiwyg ul.panel li a.subscript {
background-position:-64px -16px;
}
div.wysiwyg ul.panel li a.superscript {
background-position:-80px -16px;
}
div.wysiwyg ul.panel li a.undo {
background-position:0 -64px;
}
div.wysiwyg ul.panel li a.redo {
background-position:-16px -64px;
}
div.wysiwyg ul.panel li a.insertOrderedList {
background-position:-32px -48px;
}
div.wysiwyg ul.panel li a.insertUnorderedList {
background-position:-16px -48px;
}
div.wysiwyg ul.panel li a.insertHorizontalRule {
background-position:0 -48px;
}
div.wysiwyg ul.panel li a.h1 {
background-position:0 -32px;
}
div.wysiwyg ul.panel li a.h2 {
background-position:-16px -32px;
}
div.wysiwyg ul.panel li a.h3 {
background-position:-32px -32px;
}
div.wysiwyg ul.panel li a.h4 {
background-position:-48px -32px;
}
div.wysiwyg ul.panel li a.h5 {
background-position:-64px -32px;
}
div.wysiwyg ul.panel li a.h6 {
background-position:-80px -32px;
}
div.wysiwyg ul.panel li a.cut {
background-position:-32px -64px;
}
div.wysiwyg ul.panel li a.copy {
background-position:-48px -64px;
}
div.wysiwyg ul.panel li a.paste {
background-position:-64px -64px;
}
div.wysiwyg ul.panel li a.increaseFontSize {
background-position:-16px -80px;
}
div.wysiwyg ul.panel li a.decreaseFontSize {
background-position:-32px -80px;
}
div.wysiwyg ul.panel li a.createLink {
background-position:-80px -48px;
}
div.wysiwyg ul.panel li a.insertImage {
background-position:-80px -80px;
}
div.wysiwyg ul.panel li a.html {
background-position:-48px -48px;
}
div.wysiwyg ul.panel li a.removeFormat {
background-position:-80px -64px;
}
div.wysiwyg ul.panel li a.empty {
background-position:-64px -80px;
}
div.wysiwyg iframe {
border:0 none;
clear:left;
margin:5px 0 0;
width:97.5% !important;
}
#HRMenu
{
	height:100%;
}