@charset "utf-8";
/* CSS Document */
*{
	padding:0px;
	margin:0px;
	outline:none;
	font-weight:normal;
	border:none;
	font-size:12px;
	font-family:arial;
}
a{
	color:#333;
	text-decoration:none;
}

strong{
	font-weight:bold;
}

.clear{
	clear:both;
}

body{
	/* background:url(../images/background.jpg) top center no-repeat fixed; */
	background: none repeat scroll 0% 0% rgb(248, 248, 248);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#wrapper{
	width:429px;
	margin:0px auto;
}
.loginbox{
	/* background:url(../images/loginbox.png) top left no-repeat; */
	width:429px;
	height: 432px;
	margin-top: 28%;
	position:relative;
	margin-bottom: 40px;
}
.beta {
	position: absolute;
	bottom: 26px;
	right: -20px;
}
.loginbox_orignal{
	padding:30px 30px 20px 30px;
	margin-top: -65px;
}
.form{
	width:345px;
	margin:45px auto;
}

input[type="text"], input[type="password"] {
	/* background: url(../images/login_field.png); */
	width: 314px;
	height: 30px;
	margin: 4px 0px;
	font-size: 12px;
	color: #8C8C8C;
	padding: 3px 15px;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 1px;
	box-shadow: 0px 0px 5px 0px #E0E0E0;
}
.button{
	width:140px;
	margin:7px auto;
}
.terms{
	text-align:center;
	color:#aaa;
	padding-bottom:10px;
	font-size: 10px;
}

.terms a{
	text-align:center;
	color:#aaa;
	padding-bottom:10px;
	font-size: 10px;
}
.invalid {	
	text-align: center;
	margin: 0 auto;
	color: red;
	font-size: 8px;
}

.msg{
	position: fixed;
	top: -2px;
	left: 47%;
	background: #FFFE96 none repeat scroll 0% 0%;
	color: #8D8787;
	border: 1px solid #F5F551;
	text-transform: uppercase;
	font-size: 10px;
	padding: 5px;
	border-radius: 3px;
}

.server_id {
	border-bottom: 1px dotted #ccc;
	color: gray;
	font-size: 10px;
	cursor: pointer;
}

.information_lg {
	background: #F6E184 url("../images/information.png") repeat scroll 0% 0%;
	border-color: #AB9B7D;
 	color: gray;
 	border-radius: 3px;
}

.notification_lg {
	position: relative;
	margin: 20px 15px 15px 75px;
	padding: 0;
	/*  border: 1px solid; */
	background-position: 7px 5px !important;
	background-repeat: no-repeat !important;
	font-size: 13px;
	width: 99.8%;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 2;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 2;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}