@charset "utf-8";
/* CSS Document */
*{
	padding:0px;
	margin:0px;
	outline:none;
	font-weight:normal;
	border:none;
	font-size:25px;
	font-family:arial;
}
a{
	color:#333;
	text-decoration:none;
}

strong{
	font-weight:bold;
}

.clear{
	clear:both;
}

body{
	background:url(../images/background.jpg) top center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#wrapper{
	width:605px;
	margin:0px auto;
}
.loginbox{
	background:url(../images/loginbox_mobile.png) top left no-repeat;
	width:600px;
	height: 604px;
	margin-top:500px;
	position:relative;
}
.beta {
	position: absolute;
	bottom: 26px;
	right: -20px;
}
.loginbox_orignal{
	padding:30px 30px 20px 30px;
	margin-top: -65px;
}
.form{
	width:510px;
	margin:10px auto;
}

input[type="text"], input[type="password"] {
	background: url(../images/login_field_mobile.png) no-repeat;
	width: 500px;
	height: 70px;
	margin: 4px 0px;
	font-size: 30px;
	color: #676767;
	padding: 3px 25px;
}
.button{
	width:210px;
	margin:7px auto;
}
.terms{
	text-align:center;
	color:#8d8d8d;
	padding-bottom:10px;
}
.terms a{
	color:#8d8d8d;
}
.invalid {	
	text-align: center;
	margin: 0 auto;
	color: red;
	font-size: 20px;
}