	/* Response Messages */
@charset "utf-8";
.response-msg {
	padding:6px 10px 10px 45px;
	font-size:0.9em;
	margin:0 0 10px;
}

.response-msg span {
	display:block;
	font-weight:bold;
	padding:0 0 4px;
}

#unameErr
{
	background:#f9e5e6;
	border:#e8aaad solid 1px;
	width:198px;
	height:1px;
	margin:-8px 0  10px 87px;
	padding:6px 1px 14px 12px;
	display: none;
	color:#b50007;
	border:#e8aaad solid 1px;
}
#pwdErr
{
	background:#f9e5e6;
	border:#e8aaad solid 1px;
	width:198px;
	height:1px;
	margin:-8px 0  10px 87px;
	padding:6px 1px 14px 12px;
	display: none;
	color:#b50007;
	border:#e8aaad solid 1px;
}
.error {
	background:#f9e5e6 url('../images/icons/error.png') 10px 10% no-repeat;
	color:#b50007;
	border:#e8aaad solid 1px;
	font-size:11px;
	font-weight: bold;
	position: absolute;
	z-index: 999;
	top: 3px;
	right: 20px;
	width: 200px !important;
	min-height: 15px;
}

.notice  {
	background:#f9f9e5 url('../images/icons/notice.png') 10px 10% no-repeat;
	color:#828400;
	border:#e8e3aa solid 1px;
	font-size:11px;
	font-weight: bold;
	position: absolute;
	z-index: 999;
	top: 3px;
	right: 20px;
	width: 200px !important;
	min-height: 15px;
}

.offline-warning  {
	background:#f9f9e5 url('../images/icons/warning.png') 10px 10% no-repeat;
	color:#828400;
	border:#e8e3aa solid 1px;
	font-size:11px;
	font-weight: bold;
	margin: 11px 0 0 0px !important; 
	font-size: 13px; color:#DF0101;
	position: absolute;
	z-index: 999;
	top: 3px;
	right: 20px;
	width: 200px !important;
	min-height: 15px;
}

.inf {
	background:#e5ecf9 url('../images/icons/info.png') 10px 50% no-repeat;
	color:#0055b5;
	border:#aac6e8 solid 1px;
}

.success {
	background:#e9f9e5 url('../images/icons/success.png') 10px 10% no-repeat;
	color:#1c8400;
	border:#b4e8aa solid 1px;
	font-size:11px;
	font-weight: bold;
	position: absolute;
	z-index: 999;
	top: 3px;
	right: 20px;
	width: 200px !important;
	min-height: 15px;
}

#page-wrapper .other-box {
	margin:15px 0;
}

#page-wrapper .cont {
	border-top:#fff solid 1px;
	padding:8px;
	line-height:1.4em;
}

#page-wrapper .other-box h3 {
	font-size:1.2em;
	font-weight:bold;
}

#page-wrapper .gray-box {
	background:#eaeaea;
	border:#c0c0c0 solid 1px;
}

#page-wrapper .yellow-box {
	background:#fff6bf;
	border:#fdd845 solid 1px;	
}

.warning-inline {
	background-color:#FFD119;
	font-size:14px;
	font-weight: bold;
	text-decoration: none;
	margin-top: 10px!important;
	padding-right: 5px!important;
	padding-left: 5px!important;
	line-height:1.4em;
}

.wf_timestamp {
	float: right;
	display: block;
	font-size: 11px;
	color: gray;
	margin-top: 1px;
}