
body {
	background-color: #FFF;
	font: caption;
	font-size: small;
}

div {
	margin-top: 2px;
}

label {
	display: -moz-box;
	width: 146px;
	padding: 5px;
}

table tbody tr td {
	text-align: center;
}

table {
	width: 100%;
}

.new_renew {
	width: 230px;
	margin-bottom: 10px;
	text-align: center;
	margin: 10px auto;
}

.span_border {
	border-style:solid;
	border-bottom:thin solid;
	border-top: hidden;
	border-left: hidden;
	border-right: hidden; 
}
.clear_fix{
	clear: both;
}
.detail_text {
	padding: 2px;
	display: table-cell;
}
.text-bold{
	font-weight:bold;
}
.text_info{ 
	margin : 0px 0px 0px 7px;
}
.div_text_info{
	margin : 5px;
	padding: 2px;
}
.left_align {
	text-align: left;
}

.right_align {
	text-align: right;
}

.center_align {
	text-align: center;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.detail_text_arabic {
	padding: 2px;
	display: table-cell;
	direction: rtl;
}

.para {
	width: 40%;
	padding: 10px;
	display: inline-table;
}

.para_arabic {
	direction: rtl;
	text-align: right;
	float: right;
	width: 40%;
	padding: 10px;
}

.arabic {
	direction: rtl;
	text-align: right;
	float: right;
	padding: 5px;
}

.arabic_label {
	direction: rtl;
	text-align: right;
	padding: 2px;
}

.bold {
	font-weight: bolder;
}

.AIOTitle {
	background-image: url();
}

.subTitle {
	text-align: center;
	font-weight: bolder;
	font-size: x-large;
}

.sectionHead {
	font-weight: bolder;
	color: #FCB514;
	font-size: larger;
	margin-top: 10px;
}

.sectionHead_arabic {
	direction: rtl;
	text-align: right;
	float: right;
}

.box {
	width: 100%;
	height: 100px;
	border-color: black;
	border-width: thin;
	border-style: solid;
}

.signatureBox {
	width: 40%;
	height: 75px;
	border-color: black;
	border-width: thin;
	border-style: solid;
	float: left;
	text-align: center;
	margin-left: 10px;
	text-align: left;
	padding: 5px;
}

.footer {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 20px;
	color: #FCB514;
}

.title-heading{
	color: #6E6E6E;
	float: right;
    font-family: inherit;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}

.width5 {
	width:5%;
}
.width10 {
	width:10%;
}
.width20 {
	width:20%;
}
.width22{
	width:22%;
}
.width25{
	width:25%;
}
.width28{
	width:28%;
}
.width30 {
	width:30%;
}
.width35 {
	width:35%;
}
.width40 {
	width:40%;
}
.width48 {
	width:48%;
}
.width50 {
	width:50%;
}
.width60 {
	width:60%;
}
.width65{
	width:65%;
}	
.width70 {
	width:70%;
}
.width75{
	width:75%;
}
.width80 {
	width:80%;
}
.width90 {
	width:90%;
}
.width98{width :98%;}
.width100 {
	width:100%;
}