@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Open_Sans/OpenSans-Regular.ttf');
}

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: none;
	font-family: wf_segoe-ui_normal,'Segoe UI',Segoe,'Segoe WP',Tahoma,"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

.clearfix {
	clear: both;
}

strong {
	font-weight: bold;
}

a {
	text-decoration: none;
}

.width5 {
	width:5%;
}
.width10 {
	width:10%;
}
.width20 {
	width:20%;
}
.width30 {
	width:30%;
}
.width35 {
	width:35%;
}
.width40 {
	width:40%;
}
.width50 {
	width:50%;
}
.width60 {
	width:60%;
}
.width70 {
	width:70%;
}
.width80 {
	width:80%;
}
.width90 {
	width:90%;
}
.width98{width :98%;}
.width100 {
	width:100%;
}
.float-left {
	float:left!important;
}

.float-right {
	float:right!important;
}
.heading {
	padding:10px;
	font-size:20px;
    text-align: center;
    font-weight:bold;
    width:100%;
    float:right;
}
.side-heading{
	font-size:15px;
    font-weight:bold;
}
.data {
	font-size:12px;
    text-align: center;
    color: #7C7C77;
    font-weight:bold;
}
.inside-heding{
	font-weight:bold;
}


.mainhead {
	width: 100%;
	margin-top: 0px;
	text-transform: uppercase;
	font-size:20px;
	font-weight: bold;
	background-color: #e6e6e6;
	border-radius: 2px;
	margin: 5px;
	text-indent:0.5em;
	color: #000;
}

#hrm span {
	margin: 0px 3px 0px 3px;
	font-family: Arial, Verdan, Sans-Serif;
	font-weight: bold;
	font-size: 95%;
}

#hrm td {
	padding: 2px;
}

#hrm a.btn {
	margin: 0px !important;
	/* padding:0.3em 0 0 3em !important; */
	padding: 0 12px 3px 12px !important;
	display: inline;
	float: none;
	width: 0px !important;
}

.float-none {
	float: none !important;
}

label {
	text-align: left !important;
}

.view label {
	text-align: left !important;
}

table {
	/*margin:0 0 70px 0;*/
	background:#FFF;
	width:100%;
	border:1px solid #dedede;
	border-bottom:none;
}

thead td, thead th {
	background-color: #F9F9F9; /*#e6e6e6;*/
	color: black !important;
}

thead th {
	border-left:1px solid #ccc;
	text-align:left;
	padding:8px;
	color: #e6e6e6;
	text-shadow: none;
	vertical-align:middle;
}

.tr td{
	border-left:1px solid #ccc;
	text-align:left;
	padding:8px !important;
	color: #696969;
	text-shadow: none;
	vertical-align:middle;
}

.th_heading
{
	width:150px;
}	

thead td, thead th {
	font-weight:bold;
	padding:10px 6px;
	text-align:center;
}

th, td {
	border-bottom:1px solid #dedede;
}
tbody th {
	padding:8px 8px;
	text-align:left;
}

tbody tr.alt td, tbody tr.odd td {
	color:#464646;
}

tbody tr.alt td, tbody tr.alt th, tbody tr.odd {
	background-color:#f5f5f5;
}
tbody tr:hover td, tbody tr:hover th {
	background-color:#FFFADE;
}
tbody tr:hover td table tbody tr td, tbody tr:hover th td table tbody tr td {
	background-color:#FFFFFF;
}
tbody tr:hover td table tbody tr:hover td, tbody tr:hover th td table tbody tr:hover td {
	background-color:#FFFFCF;
}

tr .center {
	padding:15px;
	width:5px;
}

legend {
	background-color: #679BCE;
	border: 0 none;
	border-radius: 2px;
	color: white;
	padding: 3px 10px;
}

fieldset {
	height: 100%;
	margin: 5px;
	padding: 1%;
	border: 1px solid #DDDDDD;
}
/* fieldset div,table{
	padding: 1%;
	margin: 5px;
} */

