.box {padding: 10px;}

.container {padding: 0 0 20px 0;}

#message
{
	/* display: block before hiding */
	display: block;
	display: none;

	/* link is above all other elements */
	z-index: 999; 

	/* link stays at same place on page */
	position: fixed;

	/* link goes at the bottom of the page */
	bottom: 25px;

	/* link is centered */
	right: 0;

	/* make it big and easy to see (size, style to preferences) */
	width: 100px;
	line-height: 28px;
	height: 28px;
	padding: 2px;
	font-size: 11px;
	text-align: center;
	font-family:Georgia, "Times New Roman", Times, serif;
}

#message a { color: #999; }