.formTop
{
	height:140px;
	margin:0px 10px 0px 10px;
}
.showBills
{
	float:left;
	margin-top:12px;
	width:60px;
}
.selectbox
{
	width:200px;
}
.selectbox_new
{
	width:178px;
}
.txtfield
{
	width:170px;
}	
 .thlabel
{
	float:right;
	font-size:15px;
	font-weight:bold; 
	margin:4px 256px 0 0; 
	color:#616161
 }
.leftsel
{
width:100%;
	
}
.lft
{
	 padding-top:15px;
}	
.rightsel
{
	width:300px;
	 float:right;
}		
.dueDate
{
	width:70%;
	height:45px;
}
.filterBy
{
	width:60%;
	font-size:95%;
	font-weight:bold;
	height:80px;
}
.filterByList
{
	width:100px;
	float:right;
}
.filterByList label
{
	display:block;
	padding-bottom:20px;
	width:100px;
	text-align:right;
}
.filterByList select
{
	display:block;
	margin-bottom:10px;
	width:120px;
	
}
#sort-table td
{
	text-align:center;
}
 .stylefieldset
 {
	 
	float:right;
	margin:5px 0 10px 0;
	 
	
 }
 .right_button
 {
	display:block; 
	margin-top:12px;
	width:300px;
	float:right;
 }
 .stylelegent
 {
	background:none;
	border:1px solid #DDDDDD;
	margin-left: 10px;
 }
 
.finalResult th
{
	 
	text-align:center!important;
}
li
{
	list-style-type:none;
}
table
{
	margin:0 0 0 0!important;
}

 
.fdst
{
	margin-top:5px;
}
.fdst label
{
	height:10px;
	display:block;
	float:left;
	margin:0px 0px 15px 5px;
	width:32%;
}
.fdst span
{
	float:right;
}
.fdstButtons
{
	width:32%;
	float:left;
	margin:0px 0px 15px 5px;
}
.pytDate
{
	width:33%;
	float:left;
}
.smallWidth
{
	width:45px!important;
}
.adjustDate 
{
	float:left;
	width:32%;
}
.adjustDate span
{
	float:left;
}
 
 
 .formTop
{
	height:140px;
	margin:0px 10px 0px 10px;
}
.showBills
{
	float:left;
	margin-top:12px;
	width:60px;
}
.dueDate
{
	width:70%;
	height:45px;
}
.filterBy
{
	width:60%;
	font-size:95%;
	font-weight:bold;
	height:80px;
}
.filterByList
{
	width:100px;
	float:right;
}
.filterByList label
{
	display:block;
	padding-bottom:20px;
	width:100px;
	text-align:right;
}
.filterByList select
{
	display:block;
	margin-bottom:10px;
	width:120px;
	
}
#sort-table td
{
	text-align:center;
}
 
.finalResult th
{
	 
	text-align:center!important;
}
li
{
	list-style-type:none;
}
table
{
	margin:0 0 0 0!important;
}

fieldset {
	border: 1px solid #DDDDDD;
	width: 100%;
	clear:both;
	font-size:95%;
	font-weight:bold;
	line-height:150%;
	 
}
legend {
	border: 0;
	background-color: #e0e0e0;
	
	padding: 0.2em 0.5em;
}
.fdst
{
	margin-top:5px;
}
.fdst label
{
	height:10px;
	display:block;
	float:left;
	margin:0px 0px 15px 5px;
	width:32%;
}
.fdst span
{
	float:right;
}
.fdstButtons
{
	width:32%;
	float:left;
	margin:0px 0px 15px 5px;
}
.pytDate
{
	width:33%;
	float:left;
}
.smallWidth
{
	width:45px!important;
}
.adjustDate 
{
	float:left;
	width:32%;
}
.adjustDate span
{
	float:left;
}
 .clear-both
 {
	clear:both;
}
.rightTop
{
	width:470px;
}
.lrgtxt
{
	width:190px;
}	
.invoiceTop
{
	height:200px;
	margin:0px 10px 0px 10px;
}

.display-inline
{
	display:inline!important;
}
.display-block
{
	display:block!important;
}
.LargeWidth
{
	width:70%!important;
	margin-bottom:8px;
}
.MSHeader
{
	margin:0 auto!important; 
	width:70%; 
	text-align:right;
}