	/* Tables */
@charset "utf-8";
.hastable table {
	/*margin:0 0 70px 0;*/
	background:#FFF;
	width:100%;
	border:1px solid #dedede;
	border-bottom:none;
}

.hastable thead td, .hastable thead th {
	background-color: #F9F9F9; /*#e6e6e6;*/
	color: black !important;
}

.hastable thead th {
	border-left:1px solid #ccc;
	text-align:left;
	padding:8px;
	color: #e6e6e6;
	text-shadow: none;
	vertical-align:middle;
}

.hastable tr td{
	border-left:1px solid #ccc;
	text-align:left;
	padding:8px !important;
	color: #696969;
	text-shadow: none;
	vertical-align:middle;
}
.input_size
{
	width:50px!important;
}
.th_heading
{
	width:150px;
}	
.input_table
{
	width:100px!important;
}
.hastable thead td, .hastable thead th {
	font-weight:bold;
	padding:10px 6px;
	text-align:center;
}

.hastable th, .hastable td {
	border-bottom:1px solid #dedede;
}
.hastable tbody th {
	padding:8px 8px;
	text-align:left;
}

.hastable tbody tr.alt td, .hastable tbody tr.odd td {
	color:#464646;
}

.hastable tbody tr.alt td, .hastable tbody tr.alt th, .hastable tbody tr.odd {
	background-color:#f5f5f5;
}
.hastable tbody tr:hover td, .hastable tbody tr:hover th {
	background-color:#FFFADE;
}
.hastable tbody tr:hover td table tbody tr td, .hastable tbody tr:hover th td table tbody tr td {
	background-color:#FFFFFF;
}
.hastable tbody tr:hover td table tbody tr:hover td, .hastable tbody tr:hover th td table tbody tr:hover td {
	background-color:#FFFFCF;
}
.headerSortDown, .headerSortUp {
	background-repeat:no-repeat;
	background-color:#dcdcdc!important;
	color:#404040!important;
}
 
.header span {
	float:right;
}

.hastable tr .center {
	padding:15px;
	width:5px;
}


.hastable table a.btn span.ui-icon {
	left:0.1em;
}

	/* Tables Pagination */

#pager {
	padding:15px;
}

#pager input, #pager .pagesize {
	margin:5px;
	float: left;
}
td input
{
	width:98%;
	margin:0px;
}
td select
{
	width:98%;
}