@charset "utf-8";
/* root element for scrollable */
.vertical {  
	
	/* required settings */
	position:relative;
	overflow:hidden;	
	/* vertical scrollers have typically larger height than width */	
	height: 367px;
	width: 200px;
	*margin-top:1px;
	/*border-top:1px solid #ddd;	*/
}

/* root element for scrollable items */
.items {	
	position:absolute;
	
	/* this time we have very large space for height */	
	height:20000em;	
	margin-left: 45px;
	*margin-left: 40px;
	*margin-top:10px;
	text-align:left;
}

/* single scrollable item */
.item {
	/*border-bottom:1px solid #ddd;*/
	padding-top:1px;
	height:38px;
	width:145px;
	text-align:right;
	cursor:pointer;
}

/* elements inside single item */
.item img {
	float:left;
	margin-right:20px;
	height:180px;
	width:240px;
}


/* the action buttons above the scrollable */
#actions a {
	font-size:11px;		
	cursor:pointer;
	color:#666;
}

#actions a:hover {
	text-decoration:underline;
}

.disabled {
	visibility:hidden;		
}
.title_scroll
{
	font:bold 15px Arial;
	color:#FFFFFF;
	letter-spacing:0.2px;
	text-align:right;
	width:167px;
	padding-top:5px;
}
 .leftNav
 {
	color:#cacaca;
	font:bold 13px Arial;
	text-align:left;
	width:180px;
	background-image:url('./images/catagoryBackground.gif');
	background-repeat:no-repeat;
 }
 .selectedCategory
 {
	background-image:url('selected.gif');
	background-repeat:no-repeat;
	background-position:8px;
	height:20px;
	color:#000000;
 }
 .Category 
 {
	background-image:url('./images/inactiveCategoryBg.gif');
	background-repeat:no-repeat;
 }
 a:visited
 {
	color:#CACACA;
 }
 .moveRight
 {
	margin-right:20px;
 }
 .scrollButtons
 {
	margin-top:-45px;
	position:absolute;
	text-align:center;
	width:180px;
 }