@media only screen and (min-device-width : 801px) 
and (max-device-width : 1024px)  {
	.contact_container {
		width: 89%;
	}
	.content_left {
		width: 61%;
	}
	.expanded {
		width: 89%;
	}
	.menu_text_wrap {
		max-width: 90px !important;
		cursor: pointer;
		display:table-cell!important;
		vertical-align: middle!important;
	}
	.menu_text_wrap_a {
		display:table-cell!important;
		vertical-align: middle!important;
	}
	.menu_text_wrap_span {
		font-size: 11px !important;
		max-height: 25px !important;
		text-align: center;
		font-weight:200;
		color: rgb(0, 105, 144);
	}
	
	.menu_text_wrap_span_header {
		font-size: 14px !important;
		max-height: 25px !important;
		text-align: center;
		text-shadow: none;
	}
	
	.sub {
	
	max-height:560px;
	overflow-y:auto;
}
}