@media only screen and (min-width : 1025px) 
and (max-width : 1280px) {
	.contact_container {
		width: 91%;
	}
	.content_left {
		width: 69%;
	}
	.expanded {
		width: 91%;
	}
	.menu_text_wrap {
		max-width: 110px !important;
		cursor: pointer;
		display:table-cell!important;
		vertical-align: middle!important;
	}
	.menu_text_wrap_a {
		display:table-cell!important;
		vertical-align: middle!important;
	}
	.menu_text_wrap_span {
		font-size: 11px !important;
		max-height: 25px !important;
		text-align: center;	
		font-weight: 100;
		color: rgb(0, 105, 144);
	}
	
	.menu_text_wrap_span_header {
		font-size: 14px !important;
		max-height: 25px !important;
		text-align: center;
		text-shadow: none;
	}
	
	.sub {
	
	max-height:690px;
	overflow-y:auto;
}
}