@media only screen and (min-width : 1281px) 
and (max-width : 1366px) {
	.contact_container {
		width: 91%;
	}
	.content_left {
		width: 71%;
	}
	.expanded {
		width: 92%;
	}
	.menu_text_wrap {
		max-width: 105px !important;
		cursor: pointer;
		display:table-cell!important;
		vertical-align: middle!important;
	}
	.menu_text_wrap_a {
		display:table-cell!important;
		vertical-align: middle!important;
	}
	.menu_text_wrap_span {
		font-size: 11px !important;
		max-height: 25px !important;
		text-align: center;
		font-weight: 200;
		color: rgb(0, 105, 144);
		font-size: 11px !important;
		line-height: 1.33em;
	}
	
	.menu_text_wrap_span_header {
		font-size: 14px !important;
		max-height: 25px !important;
		text-align: center;
		text-shadow: none;
	}
	
	
	.sub {
	
	max-height:700px;
	overflow-y:auto;
}
}