.dg {
	width: auto;
	margin: 0px;
	cursor: pointer;
	position: absolute;
	top: 166px;
	left: 307px;
	zindex: 9;
	display: block;
}

.bar {
	width: auto;
	color: #ffffff;
	cursor: pointer;
	height: 18px;
	overflow: hidden;
	background: #f3f3f3;
	padding: 5px;
}

.bar a {
	position: absolute;
	top: 6px;
	right: 4px;
	width: 16px;
	height: 16px;
	background-image: url('../close.png');
	background-size: 100% 100%;
    background-repeat: no-repeat;
}

.content {
	background-color: #FFF;
	border: 1px solid rgba(219, 219, 219, 1);
	max-height: 100%;
	width: 281px;
	overflow: hidden;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}

#containment-wrapper {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	/* background-color: #C2E4F2; */
	width: 100%;
	height: 100%;
	/* border: 2px solid #ccc; */
}

a:link {
	color: #222222;
	text-decoration: none;
	font-weight: 400;
}

a:visited {
	text-decoration: none;
	color: #222222;
}

a:hover {
	/* text-decoration: underline; */
	color: #DA3421;
}

a:active {
	text-decoration: none;
	color: #222222;
}

.toggler {
	width: 150px;
	height: 95%;
}

#button {
	display: inline-block;
	text-decoration: none;
	width: 100px;
	text-align: center;
	height: 20px;
	background-color: 
}

#effect {
	position: relative;
	width: 150px;
	padding: 0em;
	background-color: #fff;
	color: #F4F4F4;
	font-size: 15px;
	font-weight: bold;
}

.jqplot-yaxis-tick {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold !important;
	font-size: 10px;
}

.jqplot-xaxis-tick {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold !important;
	font-size: 10px;
}

.jqplot-target {
	left: 10px !important;
	right: 5px !important;
}

.jqplot-axis {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold !important;
	font-size: 10px;
}

.jqplot-yaxis {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold !important;
	font-size: 10px;
}

canvas {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold !important;
	font-size: 10px;
}

/* chart Styles */

/* .jqplot-point-label {
	border: 1.5px solid #aaaaaa;
	padding: 1px 3px;
	background-color: #eeccdd;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
}

.jqplot-data-label {
	border: 1.5px solid #aaaaaa;
	padding: 1px 3px;
	background-color: #eeccdd;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
} */

.bar>div {
	text-align: left;
	width: 98%;
	margin: 0 auto;
}

.dashboard-content-title {
	color: #435444;
	max-height: 22px;
	overflow: hidden;
	float: left;
	padding-top: 3px;
	padding-left: 3px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}

.dashboard-content-filter-label {
	color: #666;
	width: auto;
	height: 20px;
	padding-top: 5px;
	padding-right: 5px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}

td.jqplot-table-legend-label {
	max-width: 100px;
}

#dashboard_position_change_save {
	display: none;
	position: absolute;
	right: 163px;
	top: 1px;
	width: 100px;
	text-transform: uppercase;
}
#dashboard_position_change_save > a {
	font-weight: bold;
	font-size: 11px;
	color: yellow;
}