* {
	font-family: wf_segoe-ui_normal,'Segoe UI',Segoe,'Segoe WP',Tahoma,"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.dg {
	margin:5px;
	cursor:pointer;
	position:relative;
	zindex:9;
	display:block;
	float:left;
	min-width: 45%;
}

.bar {
	width:auto;
    color: #ffffff;
    cursor: pointer;
 	height:22px;
 	overflow:hidden;
 	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 0px;
	box-shadow: 0 1px 0px 0 rgba(0,0,0,0.1);
	/* border: 1px solid rgba(219, 219, 219, 1); */
	background: #fcfcfc;
	padding: 1px;
}
.bar a {
    position: relative;
    top: 3px;
    width: 14px;
	height: 14px;
	float: right;
	right: 2px;
	background-image: url('../close.png');
	background-size: 100% 100%;
    background-repeat: no-repeat;
}
.content { 
	margin:10px; 
	background-color: #fff;
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    max-height: 100%;
    overflow: hidden;
    max-height:100%;
}
	
	
#containment-wrapper {
	/* margin: 0 auto; */
	/* background-color: #C2E4F2; */
	width: 100%; 
	height: 100%; 
	/* border:2px solid #ccc; */
	overflow-y:auto;
	overflow-x:hidden;
}

a:link {
	color: #222222;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #222222;
}
a:hover {
	text-decoration: underline;
	color: #008012;
}
a:active {
	text-decoration: none;
	color: #222222;
}

.toggler {
height:95%;
}
#button {
display: inline-block;
text-decoration: none;
width:100px;
text-align: center;
height:20px;
background-color: 

}
#effect {
	position: relative;
	padding: 0.2em;
 	color: #F4F4F4; 
}
.jqplot-yaxis-tick{
	/* font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-weight: bold!important;
  	font-size: 20px; */
}
.jqplot-xaxis-tick{
	/* font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-weight: bold!important;
  	font-size: 20px; */
}
.jqplot-target{
	/* left: 4%!important;
	right:5px!important;
	width: 95% !important; */
}
.jqplot-axis{
	/* font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-weight: bold!important;
  	font-size: 20px; */
}
 .jqplot-yaxis{
 	/* font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-weight: bold!important;
  	font-size: 20px; */
}
canvas{
	/* font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-weight: bold!important;
  	font-size: 20px; */
}

<!--chart Styles-->

.jqplot-point-label {
	border: 0.5px solid #ccc;
	padding: 1px 3px;
	background-color: #fcfcfc;
	/* font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 20px; */
}

.jqplot-data-label{
	border: 0.5px solid #ccc;
	padding: 1px 3px;
	background-color: #fcfcfc;
	/* font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 20px; */
}

.bar>div{
	text-align:left; 
	width: 99%;
    margin: 0 auto;
    
}
.dashboard-content-title{
	color:#435444; 
	max-height:22px; 	
	font-size: 12px;
	font-weight: bold;
}

.dashboard-content-filter-label{
	color:#666; 
	width:auto; 
	height:20px; 
	padding-top:5px; 
	padding-right:5px;
	font-weight: bold;
  	font-size: 13px;
  	margin-bottom: 25px;
}
td.jqplot-table-legend-label
{
   max-width:15%;
}

.chart-date, .chart-datedg115 {
	width: 100px;
}
