/* ================================================================ 
This copyright notice must be kept untouched in the stylesheet at 
all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.stunicholls.com/menu/pro_drop_2.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */
/* 
#nav {padding:5px; margin:0; list-style:none; width:100%; position:absolute; top:40px; left: 150px; z-index:500; font-family:arial, verdana, sans-serif;}

#nav li.top_menus {display:block; float:left; position: relative; top: -3px; background:url(../styles/erp_new/images/sep.jpg) right no-repeat;}
#nav li.top_menus:hover{
	display:block; float:left; position: relative; top: -3px; 
	background:url(../styles/erp_new/images/sep.jpg) right no-repeat #9B9B33;
	}  
#nav li a.top_link {display:block; float:left; line-height:33px; color:#fff; text-decoration:none; font-size:14px; font-weight:bold; padding:0 0 0 12px; cursor:pointer;}
#nav li a.top_link:hover {display:block; float:left; line-height:33px; color:#000; text-decoration:none; font-size:14px; font-weight:bold; padding:0 0 0 12px; cursor:pointer;}

#nav li a.top_link span {float:left; display:block; padding:5px 24px 0 12px;}
#nav li a.top_link span.down {float:left; display:block; padding:5px 24px 0 12px; }


Default list styling

#nav li:hover {position:relative; z-index:200;}
#nav li:hover ul.sub a span{padding:5px;}
#nav li:hover ul.sub
{left:1px; top:38px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; background: url(../../js/MainMenu/images/men_bck.png) repeat-x scroll left top #695A02; padding:3px; width:140px; height:auto; z-index:300;}
#nav li:hover ul.sub li
{display:block; height:20px; position:relative; border-bottom: 1px solid #806E04; width:140px;  font-weight:normal;}
#nav li:hover ul.sub li a
{display:block; font-size:11px; height:18px; width:143px; line-height:18px;  text-indent:5px; color:#fff; text-decoration:none;}
#nav li ul.sub li a.fly
{background: url(arrow.gif) 130px 6px no-repeat ;}

#nav li ul.sub{background: url(../../js/MainMenu/images/men_bck.png) repeat-x scroll left;}
#nav li:hover ul.sub li a:hover   
{ color:#000000; padding-top:1px; background: url(../../js/MainMenu/images/men_bck.png) 143px 6px  no-repeat #9B9B33; }
#nav li:hover ul.sub li a.fly:hover
{color:#000000;  padding-top:1px; background:url(arrow_over.gif) 130px 6px  no-repeat #9B9B33;}  

#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul
{left:142px; top:-0px; padding:3px;  white-space:nowrap; background: url(../../js/MainMenu/images/men_bck.png) repeat-x scroll left top #695A02; width:100%; z-index:400; height:auto;}

#nav ul, 
#nav li:hover ul ul,
#nav li:hover li:hover ul ul,
#nav li:hover li:hover li:hover ul ul,
#nav li:hover li:hover li:hover li:hover ul ul
{position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

#nav li:hover li:hover a.fly,
#nav li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover li:hover a.fly
{color:#000000; padding-top:1px; background: url(arrow_over.gif)  130px 6px  no-repeat #9B9B33; } 

#nav li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li:hover li a.fly
{color:#000000; padding-top:1px; background: url(arrow.gif)  130px 6px  no-repeat #9B9B33;} */

