@charset "utf-8";
/* CSS Document */
* {
	margin:0px;
	padding:0px;
	border:0px;
	outline:none;
	font-family:arial !important;
	font-size:12px !important;
	font-weight:normal;
	
}
.clearfix {
	clear:both;
}
strong {
	font-weight:bold;
}
a {
	text-decoration:none;
}
body {
	/* background:url(images/bck.jpg) top left repeat-x; */
}
.count-right-side {
  right: 185px !important;
  z-index: 111;
}
.wrapper {
	background:url(images/head.jpg) top left;
	margin:0px auto;
	width:100%;
}
.header_main {
	background: url(images/head_all.jpg) top left repeat-x;
	margin-top: 5px;
	position: relative;
	height: 84px;
}
.header_left {
	width:144px;
	position:absolute;
	top:-2px;
	right:0px;
}
.header_right {
	position:absolute;
	top:0px;
	left:0px;
	background: url(images/headright.jpg) top left no-repeat;
	width:9px;
	height:84px;	
}
#nav li a.top_link{
	padding:0px 12px 0px 0px !important;
}
.txt_date {
	position: absolute;
	top: 20px;
	right: 152px;
}
.topright_buttons {
	position: absolute;
	top: 11px;
	right: 290px;
	margin-right:10px;
	/* width: 595px; */
}
#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul
{right:142px !important; top:-4px; padding:3px;  white-space:nowrap; background: url(../../js/MainMenu/images/men_bck.png) repeat-x scroll left top #695A02; width:100%; z-index:400; height:auto;}

.topright_buttons a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 6px 0px;
}
.topright_buttons a:hover {
	color:#677c43 !important;
}
.report {
	background:url(images_ar/report.png) top center no-repeat;
	width: 107px;
}
.dashboard {
	background:url(images_ar/dashboard.png) top center no-repeat;
	width: 107px;
}
.changepass {
	background:url(images_ar/changepass.png) top center no-repeat;
	width: 138px;
}
.resetpass {
	background:url(images_ar/recentpass.png) top center no-repeat;
	width: 138px;
}
.logout {
	background:url(images_ar/logout.png) top center no-repeat;
	width: 85px;
}
.bot_menu {
	position: absolute;
	top: 43px;
	left: 146px;
}
.bot_menu a {
	display:inline-block;
}
.bot_menu li {
	background:url(images/sep.jpg) right no-repeat;
	display:inline-block;
}
.bot_menu li a {
	display: inline-block;
	font-size: 14px;
	color: white;
	padding: 13px 10px 13px 25px;
	margin-left:10px;
}
.property_info_list {
	background:url("images/realestate.png") no-repeat 85px 10px!important;
	padding-left: 20px!important;
	position: relative;
	left:5px;
}
.hr_personal_details_list {
	background:url(images/hrmodule.png) no-repeat 80px 10px!important;
	padding-left: 20px!important;
	position: relative;
	left:5px;
}
.chart_of_accounts_retrieve {
	background:url(images/accounts.png) no-repeat 50px 10px!important;
	padding-left: 20px!important;
	position: relative;
	left:5px;
}
.customise_reterive_coa {
	background:url(images/setupwizard.png) no-repeat 95px 10px!important;
	padding-left: 20px!important;
	position: relative;
	left:5px;
}
.dashboard_right {
	background:url(images/db_right.png) top left repeat-x !important;
	border-radius:5px;
	border:1px solid #b1b1b1;
	width:235px;
	position: relative;
	top: 10px;
	
}
.content_middle {
	/* position:relative;
	height:50%; */
}
.content_right {
  left: 9px !important;
  position: absolute;
  top: 5px;
  width: 245px;
}
.dashboard_right {
	position:relative;
}
.dashboard_right h2 {
	font-size:14px;
	text-align:center;
	margin:10px 0px !important;
}
.dashboard_right_in {
	border-radius:5px;
	border:1px solid #b1b1b1;
	width:217px;
	margin:0px auto 0px auto;
}
.dashboard_right_in .on {
	background: url(images_ar/butbck.png) top left no-repeat !important;
	color: #666;
	padding: 11px 0 0 26px !important;
	display: block;
	width: 244px;
	height: 23px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	text-transform:uppercase;
}
.dashboard_right_in .on:hover {
	background: url(images_ar/butbck.png) bottom left no-repeat !important;
}
.dashboard_right_in .texts {
	/* border-bottom:1px solid #d5d5d5;
	padding:10px 20px;
	margin:-10px 0px 0px 0px; */
}
.dashboard_right_in .off {
  background: url("images_ar/butbck.png") no-repeat scroll left top transparent !important;
  color: #666666;
  height: 23px;
  padding: 11px 0 0 26px !important;
  text-transform: uppercase;
  width: 244px;
}
.dashboard_right_in .off:hover {
	background: url(images_ar/butbck.png) bottom left no-repeat !important;
}
.dashicon {
	position: absolute;
	top: -7px;
	left: -8px;
	background:url(images_ar/dash.png) top left no-repeat !important;
	width:66px;
	height:65px;
}
.cont_left {
	float: right;
	width: 220px;
	/* border: 1px solid #B1B1B1; */
	border-radius: 5px;
	height: 123px;
	/* margin-top:16px; */
	position:relative;
}
.content_left{
	width:79%;
	height: 86%;
	position:absolute;
	right:15px;
	top:15px;
}
.tabcontent_scroll {
	height: 99%;
	overflow-x: hidden;
	overflow-y: auto;
}
.footer{
	text-align:center;
	margin-top: 41%;
}
.cont_left a {
	background: url(images/mainhov.png) top left repeat-x;
	display: block;
	text-transform: uppercase;
	color: #333;
	font-size: 12px;
	padding:15px 0px 14px;
	position:relative;
	text-align:right;
}
.cont_left a:hover, .cont_left a.active {
	background: url(images/mainhov.png) bottom left repeat-x;
	/* color:#fff !important; */
}

.cont_right {
	float: right;
	width: 76%;
	height: 97%;
	/* border: 1px solid #B1B1B1; */
	border-radius: 5px;
	overflow: auto;
	/* margin-left: -1px;
	margin-top: -15px; */
	padding:5px;
	/* padding-bottom:100px; */
	/* background:url(images/ftr.png) bottom left repeat-x; */
}
.underlinecss {
	background: url(images/bcklines.png) top left repeat-x #F0F0F0;
	border: 1px solid #D8D8D8;
	border-radius: 5px;
	color: #333 !important;
	padding: 8px 20px;
	text-transform: uppercase;
	position: relative;
	font-size: 11px;
	margin: 4px 0px !important;
	width:92%;
}
.underlinecss-reject {
	background: url(images/bcklines.png) top left repeat-x #F0F0F0;
	border: 1px solid #D8D8D8;
	border-radius: 5px;
	color: #999 !important;
	padding: 8px 20px;
	text-transform: uppercase;
	position: relative;
	font-size: 11px;
	margin: 4px 0px !important;
	width:92%;
}
.underlinecss a, .underlinecss-reject a{
	width:83%;
	display:block;
	line-height:18px;
}
}
/* .beta {
	position: absolute;
	bottom: 135px;
	right: -20px;
} */
.underlinecss:hover{
	border:1px solid #8b8b8b;
	cursor:pointer;
}
.underlinecss-reject:hover{
	border:1px solid #8b8b8b;
	cursor:pointer;
}
.button_links { /* dashboard entry buttons on right side of text*/
	position: absolute;
	background: url(images/actionbtns.png) top left no-repeat;
	height: 31px;
	width: 150px;
	left: 3px;
	top: 3px;
}
.button_links:hover {
	background: url(images/actionbtns.png) 0px -30px no-repeat;
	cursor:pointer;
}
.footer{
	font-size:11px;
	color:#606060;
}

.mainhead {
  background: url("images/mainhead.jpg") repeat-x scroll left top transparent;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #000000;
  margin-right: -1px;
  padding: 13px 8px !important;
  text-shadow: 1px 1px 1px #CCCCCC;
  width: 98.6%;
  margin-top: -1px;
}

#nav li:hover ul.sub
{right:1px !important; top:38px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; background: url(../../js/MainMenu/images/men_bck.png) repeat-x scroll left top #695A02; padding:3px; width:140px; height:auto; z-index:300;}

.topfix{
	margin-top:40px;
}

.dataTable_toolbar_top {
	background:#E5E5E5;
	margin-left: 0;
	margin-right: 0;
}

.dataTable_toolbar_bot {
	background:#E5E5E5;
	color: black;
	margin-left: 0;
	margin-right: 0;	
}

.dataTable th {
	background-color: #9DA7B2 !important;
}

.dataTables_scrollHead {
	background-color: #9DA7B2 !important;
}

.dataTables_wrapper label {
	color:black !important;
}

.dataTables_wrapper #property_info {
	color:black !important;
}

.dataTables_paginate a {
	padding:2px;
	background-color: transparent !important;
	color:black !important;
	border: none !important;
}

.dataTable_toolbar_top input:FOCUS {
	background-color: #e7dd9f !important;
}
.dataTable_toolbar_top input:HOVER {
	background-color: #e7dd9f !important;
}
.dataTable_toolbar_top select:FOCUS {
	background-color: #e7dd9f !important;
}
.dataTable_toolbar_top select:HOVER {
	background-color: #e7dd9f !important;
}

/* 
.property_action_btn {
	background: #c6c8ca;
	color: #666666;
} */

.action_btn, 
div[style*="cursor"][style*="pointer"],
div[class*="buttons"]  div {
	background: url("images/action_btn.png") repeat-x transparent;
	color: black;
	border:1px solid #ccc;
}

.action_btn:hover,
div[style*="cursor"][style*="pointer"]:hover,
div[class*="buttons"]  div:hover {
	background: url("images/action_btn_hover.png") repeat-x transparent;
	color: black;
	border:1px solid #ccc;
}

.action_btn:active,
div[style*="cursor"][style*="pointer"]:active,
div[class*="buttons"]  div:active {
	background: url("images/action_btn_pressed.png") repeat-x transparent;
	color: black;
	position: relative;
	top: 1px;
	border:1px solid #ccc;
}

.portlet_height_scroll {
	border: none;
	height: 99%;
	overflow-x: hidden;
	overflow-y: auto;
}

.form_head {
  background: none repeat scroll 0 0 #9DA7B2;
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 7px;
  font-weight: bold;
  text-shadow: 0 1px 0 #FFFFFF;
  margin-left: 8px;
  margin-right: 3px;
}

.form_content_alignment {
	margin-left: 10px !important; */
}

.ui-slider-horizontal {
	border:1px solid #ccc;
}

.ui-slider-vertical {
	border:1px solid #ccc;
}

.position_button {
	position: absolute; 
	bottom: 5px; 
	right: -5px;
}

div.cont_left a span {
  right: 190px !important;
}

#nav {
  font-family: arial,verdana,sans-serif;
  left: 0px !important;
  right:150px;
  margin-right:260px;
  list-style: none outside none;
  margin: 0;
  padding: 5px;
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 500;
}

#nav li.top_menus {
  background: url("images/sep.jpg") left no-repeat !important;
  display: block;
  float: right !important;
  position: relative;
  top: -3px;
}

#nav li ul.sub li a.fly
{background: url(images_ar/arrow_ar.gif) 2px 6px no-repeat !important;}

#nav li:hover ul.sub li a.fly:hover
{background:url(images_ar/arrow_over_ar.gif) 2px 6px no-repeat !important;}

#nav li:hover li:hover a.fly,
#nav li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover li:hover a.fly
{background: url(images_ar/arrow_over_ar.gif) 2px 6px no-repeat !important; color:#fff; }

#nav li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li:hover li a.fly
{background: url(images_ar/arrow_ar.gif) 2px 6px no-repeat !important; color:#fff; }

.float-right {
  float: left !important;
}

.dataTables_filter {
  float: left !important;
  text-align: left !important;
  width: 50%;
}
.references_1{
	float:right !important;
}

.references_2{
	float:left !important;
}
.dataTables_length {
  float: right !important;
  width: 40%;
}
#hrm label{
	float:right !important;
	text-align:right !important;
}

.float-left{
	float:right !important;
}
.reportingcurvedContainer{
	float:right !important;
}

.reportingcurvedContainer_content{
	float:right !important;
}