@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Open_Sans/OpenSans-Regular.ttf');
}

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: none;
	font-family: wf_segoe-ui_normal,'Segoe UI',Segoe,'Segoe WP',Tahoma,"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

.clearfix {
	clear: both;
}

strong {
	font-weight: bold;
}

a {
	text-decoration: none;
}

body { /* background:url(images/bck.jpg) top left repeat-x; */
	
}

.wrapper {
	background: url(images/head.jpg) top left;
	margin: 0px auto;
	width: 100%;
}

.header_main {
	background: url(images/head_all.jpg) top left repeat-x;
	margin-top: 5px;
	position: relative;
	height: 84px;
}

.header_left {
	width: 144px;
	position: absolute;
	top: -2px;
	left: 0px;
}

.header_right {
	position: absolute;
	top: 0px;
	right: 0px;
	background: url(images/headright.jpg) top left no-repeat;
	width: 9px;
	height: 84px;
}

.txt_date {
	position: absolute;
	top: 20px;
	left: 152px;
}

.topright_buttons {
	position: absolute;
	top: 11px;
	right: 0px;
	margin-right: 10px;
	/* width: 595px; */
}

.topright_buttons a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 6px 0px;
}

.topright_buttons a:hover {
	color: #677c43 !important;
}

.report {
	background: url(images/report.png) top center no-repeat;
	width: 107px;
}

.dashboard {
	background: url(images/dashboardicon.png) left no-repeat;
	/* width: 34px; */
	margin: 0 0 0 10px;
	background-size: 13px;
}

.changepass {
	background: url(images/changepass.png) top center no-repeat;
	width: 138px;
}

.resetpass {
	background: url(images/recentpass.png) top center no-repeat;
	width: 138px;
}

.logout {
	background: url(images/logout.png) top center no-repeat;
	width: 85px;
}

.references_1 {
	float: left !important;
}

.references_2 {
	float: right !important;
}

.bot_menu {
	position: absolute;
	top: 43px;
	left: 146px;
}

.bot_menu a {
	display: inline-block;
}

.bot_menu li {
	background: url(images/sep.jpg) right no-repeat;
	display: inline-block;
}

.bot_menu li a {
	display: inline-block;
	font-size: 14px;
	color: white;
	padding: 13px 10px 13px 25px;
	margin-left: 10px;
}

.default_menu_logo {
	background: url(images/hrmodule.png) center left no-repeat;
	padding-left: 20px !important;
	padding-bottom: 2px;
	position: relative;
	left: 5px;
	background-size: 12px 12px !important;
}

.property_info_list {
	background: url(images/realestate.png) center left no-repeat;
	padding-left: 20px !important;
	position: relative;
	left: 5px;
}


.addNewUserRedirect {
	background: url(images/mdcn.png) center left no-repeat;
	padding-left: 20px !important;
	position: relative;
	left: 5px;
}

.chart_of_accounts_retrieve {
	background: url(images/accounts.png) center left no-repeat;
	padding-left: 20px !important;
	position: relative;
	left: 5px;
}

.customise_reterive_coa {
	background: url(images/setupwizard.png) center left no-repeat;
	padding-left: 20px !important;
	position: relative;
	left: 5px;
}
.customise_reterive_coa span {
	width:80px;
}

.content_middle { /* position:relative;
	height:50%; */
	
}

.content_right {
	position: absolute;
	right: 9px;
	top: 5px;
	width: 245px;
}

.dashboard_right {
	background: url(../images/db_right.png) top left repeat-x;
	border-radius: 10px 10px 10px 10px;
	border: 1px solid #b1b1b1;
	width: 270px;
	top: 0px;
	float: right;
	margin: 3px 0px 0 0;
	position: relative;
	padding: 0 0 3px 0;
	transition: linear 1s;
}

.dashboard_right h2 {
	font-size: 14px;
	text-align: center;
	margin: 5px 0 !important;
}

.dashboard_right_in {
	margin: 0 0 0px 0;
	overflow: hidden;
}

.dashboard_right_in .on {
	background: url(../images/butbck.png) top left no-repeat;
	color: #666;
	padding: 9px 0px 0px 26px;
	display: block;
	width: 245px;
	height: 23px;
	text-transform: uppercase;
}

.dashboard_right_in .on:hover {
	background: url(../images/butbck.png) bottom left no-repeat;
}

.dashboard_right_in .texts {
	border-bottom: 1px solid #d5d5d5;
	padding: 7px 20px;
	margin: -6px 0px 0px 0px;
}

.dashboard_right_in .off {
	background: url(../images/butbck.png) top left no-repeat;
	color: #666;
	padding: 8px 0 0 25px;
	display: block;
	width: 244px;
	height: 23px;
	text-transform: uppercase;
}

.dashboard_right_in .off:hover {
	background: url(../images/butbck.png) bottom left no-repeat;
}

.dashicon {
	position: absolute;
	top: 4px;
	right: 9px;
}

.cont_left {
	float: left;
	width: 220px;
	/* border: 1px solid #B1B1B1; */
	border-radius: 5px;
	height: 123px;
	/* margin-top:16px; */
	position: relative;
}

.content_left {
	width: 71%;
	height: 91%;
	position: absolute;
}

.tabcontent_scroll {
	height: 99%;
	overflow-x: hidden;
	overflow-y: auto;
}

.footer {
	text-align: center;
	margin-top: 41%;
}

.cont_left a {
	background: url(images/mainhov.png) top left repeat-x;
	display: block;
	text-transform: uppercase;
	color: #333;
	font-size: 12px;
	padding: 15px 15px 14px;
	position: relative;
}

.cont_left a:hover,.cont_left a.active {
	background: url(images/mainhov.png) bottom left repeat-x;
	/* color:#fff !important; */
}

.cont_right {
	float: left;
	width: 76%;
	height: 97%;
	/* border: 1px solid #B1B1B1; */
	border-radius: 5px;
	overflow: auto;
	/* margin-left: -1px;
	margin-top: -15px; */
	padding: 5px;
	/* padding-bottom:100px; */
	/* background:url(images/ftr.png) bottom left repeat-x; */
}

.underlinecss {
	background: url(images/bcklines.png) top left repeat-x #F0F0F0;
	border: 1px solid #D8D8D8;
	border-radius: 5px;
	color: #333 !important;
	padding: 8px 20px;
	text-transform: uppercase;
	position: relative;
	font-size: 11px;
	margin: 4px 0px !important;
	width: 92%;
}

.underlinecss-reject {
	background: url(images/bcklines.png) top left repeat-x #F0F0F0;
	border: 1px solid #D8D8D8;
	border-radius: 5px;
	color: #999 !important;
	padding: 8px 20px;
	text-transform: uppercase;
	position: relative;
	font-size: 11px;
	margin: 4px 0px !important;
	width: 92%;
}

.underlinecss a,.underlinecss-reject a {
	width: 83%;
	display: block;
	line-height: 18px;
}

.underlinecss:hover {
	border: 1px solid #8b8b8b;
	cursor: pointer;
}

.underlinecss-reject:hover {
	border: 1px solid #8b8b8b;
	cursor: pointer;
}

.button_links { /* dashboard entry buttons on right side of text*/
	position: absolute;
	background: url(images/actionbtns.png) top left no-repeat;
	height: 31px;
	width: 150px;
	right: -23px;
	top: 6px;
}

.button_links:hover {
	background: url(images/actionbtns.png) 0px -30px no-repeat;
	cursor: pointer;
}

.footer {
	font-size: 11px;
	color: #606060;
}

.mainhead {
	/* background: url("images/mainhead.jpg") repeat-x scroll left top
		transparent;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px; */
	border-radius: 0px;
	color: #000000;
	margin-left: -1px;
	padding: 12px 8px !important;
	/* text-shadow: 1px 1px 1px #CCCCCC; */
	width: 100%;
	margin-top: 0px;
}

.topfix {
	margin-top: 40px;
}

.dataTable_toolbar_top {
	background: #fff;
	margin-left: 0;
	margin-right: 0;
}

.dataTable_toolbar_bot {
	background: none repeat scroll 0% 0% rgba(249, 249, 249, 1);
	color: black;
	margin-left: 0;
	margin-right: 0;
}

.dataTable th {
	background-color: rgba(237, 237, 237, 1) !important;
}

.dataTables_scrollHead {
	background-color: #9DA7B2 !important;
}

.dataTables_wrapper label {
	color: black !important;
}

.dataTables_wrapper #property_info {
	color: black !important;
}

.dataTables_paginate a {
	padding: 2px;
	background-color: transparent !important;
	color: black !important;
	border: none !important;
}

.dataTable_toolbar_top input:FOCUS {
	background-color: #e7dd9f !important;
}

.dataTable_toolbar_top input:HOVER {
	background-color: #e7dd9f !important;
}

.dataTable_toolbar_top select:FOCUS {
	background-color: #e7dd9f !important;
}

.dataTable_toolbar_top select:HOVER {
	background-color: #e7dd9f !important;
}

/* 
.property_action_btn {
	background: #c6c8ca;
	color: #666666;
} */
.action_btn,div[style*="cursor"][style*="pointer"],div[class*="buttons"]  div
	{
	/* background: url("images/action_btn.png") repeat-x transparent; */
	background: #d14836;
	linear-gradient: (to bottom, #DD4B39, #D14836) repeat scroll 0% 0% transparent;
	color: white;
	text-shadow: none;
	border: 1px solid transparent;
	margin-left: 4px;
	border-radius: 2px;
}

.action_btn:hover,div[style*="cursor"][style*="pointer"]:hover,div[class*="buttons"]  div:hover
	{
	/* background: url("images/action_btn_hover.png") repeat-x transparent; */
	/* color: black; */
	/* border: 1px solid #ccc; */
	background: none repeat scroll 0% 0% #DE4732;
	linear-gradient: (to bottom, #DD4B39, #D14836) repeat scroll 0% 0% transparent;
	box-shadow: 0 1px rgba(0,0,0,0.1);
	text-shadow: 0 1px rgba(0,0,0,0.1);
	border-bottom: 1px solid #dd4b39;
}

.action_btn:active,div[style*="cursor"][style*="pointer"]:active,div[class*="buttons"]  div:active
	{
	background: url("images/action_btn_pressed.png") repeat-x transparent;
	color: black;
	position: relative;
	top: 1px;
	border: 1px solid #ccc;
}

.portlet_height_scroll {
	border: none;
	height: 99%;
	overflow-x: hidden;
	overflow-y: auto;
}

.form_head {
	background: #FFF;
	border-radius: 2px;
	color: #908787;
	text-transform: uppercase;
	padding: 7px;
	font-weight: bold;
	text-shadow: 0 1px 0 #FFFFFF;
	margin-left: 8px;
	margin-right: -15px;
	font-size: 12px;
}

.form_content_alignment {
	margin-left: 10px !important;
}

.ui-slider-horizontal {
	border: 1px solid #ccc;
}

.ui-slider-vertical {
	border: 1px solid #ccc;
}

.position_button {
	position: absolute;
	bottom: 5px;
	right: -5px;
}

/* .nav ul li a#property_info_list {
	background: url(../erp_new/images/icon_4.png) no-repeat left;
}

.nav ul li a#hr_personal_details_list {
	background: url(../erp_new/images/icon_3.png) no-repeat left;
}

.nav ul li a#show_calendarentry {
	background: url(../erp_new/images/icon_2.png) no-repeat left;
} */
.nav ul li a#dashboard {
	background: url(../erp_new/images/icon_1.png) no-repeat left;
}

.nav ul li a#addNewUserRedirect {
	background: url(../erp_new/images/user.png) no-repeat left;
}

input[readonly="readonly"], input[readonly="readonly"]:hover, input[readonly="readonly"]:focus
{
    background-color: #fff !important;
    border: none;
    border-bottom: 1px solid #C7C6FF;
    color: #6B6B6B;
    cursor: pointer;
    font-weight: bold;
}

input[readonly="readonly"]:focus
{
    background-color: #FBF18B !important;
}

#dms_document_information, #person_image_information, #person_document_information, #dms_image_information, #legal_document_information, #deposit_document_information, #banktransfer_document_information, #bank_reconciliation_document_information {
	background: white !important;
}
#dms_document_information:hover, #person_image_information:hover, #person_document_information:hover, #dms_image_information:hover, #legal_document_information:hover, #deposit_document_information:hover, #banktransfer_document_information:hover, #bank_reconciliation_document_information:hover {
	background: white !important;
}

.help_div {
	font-size: 9px; 
	padding: 15px; 
	background: #fff; 
	box-shadow: 0px 0px 5px 0px #ccc; 
	height: 100px; 
	width: 150px; 
	position: absolute; 
	right: 43px; 
	top: 51px;
	z-index: 999;
	color: #222;
	border: 1px solid #ddd;
	border-top: none;
}

.quick_div {
	list-style-image: url('../../../images/fav_link.png'); color: #63A7FF; line-height: 20px; margin-left: 15px;
}

#main-wrapper {
	margin-left: 96px;
	margin-top: 35px;
}

.wrap {
	position: fixed;
	z-index: 101;
}