/**
 *********************************************
 * Prototype of styles for horizontal CSS-menu
 * @data 30.06.2009
 *********************************************
 * (X)HTML-scheme:
 *  <div id="menu">
 *      <ul class="menu">
 *          <li><a href="#" class="parent"><span>level 1</span></a>
 *              <ul>
 *                  <li><a href="#" class="parent"><span>level 2</span></a>
 *                      <ul><li><a href="#"><span>level 3</span></a></li></ul>
 *                  </li>
 *              </ul>
 *          </li>
 *          <li class="last"><a href="#"><span>level 1</span></a></li>
 *      </ul>
 *  </div>
 *********************************************
 */

/* menu::base */
/* div#menu {
    height:48px;
    background:url(images/main-bg.png) repeat-x;
	margin-top:-3px;
} */

div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    margin-top:2px;
}
div#menu ul.menu {
    padding-left: 30px;
}

div#menu li {
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0 5px 0 0px;
    display: block;
    float: left;
}
div#menu li:hover>ul {
    left: -2px;
}

/* div#menu a {
    position: relative;
    z-index: 10;
    height: 41px;
    display: block;
    float: left;
    line-height: 41px;
    text-decoration: none;
    font: normal 14px Trebuchet MS;
    text-transform: capitalize;
    padding: 0 20px;
} */
div#menu ul ul a span{
	font-size:12px important;
}
div#menu a:hover, div#menu a:hover span { color: #fff; }
/* div#menu li.current a {} */

div#menu span {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 0;
}
div#menu ul ul a.parent span {
    background-position:95% 8px;
    background-image: url(images/item-pointer.gif);
}
div#menu ul ul a.parent:hover span {
    background-image: url(images/item-pointer-mover.gif);
}

/* menu::level1 */
/* div#menu a {
    padding: 0 10px 0 10px;
    line-height: 30px;
    color:#F5EDD2 !important;
}
div#menu span {
    margin-top: 5px;
} */

/**@replace#1*/
/* div#menu li { background: url(images/main-delimiter.png) 98% 4px no-repeat; } */
div#menu li.last { background: none; }

/* menu::level2 */
div#menu ul ul li { background: none; border-bottom:1px solid #806e04; }
div#menu ul ul {
  background:url(images/men_bck.png) top left repeat-x #695a02;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  left: -999em;
  margin-top: 1px;
  padding: 5px 0 0;
  position: absolute;
  top: 38px;
  width: 163px;
}
div#menu ul ul a {
    padding: 0 0 0 15px;
    height: auto;
    float: none;
    display: block;
    line-height: 24px;
    color: rgb(169,169,169);
}
div#menu ul ul span {
    margin-top: 0;
    padding-right: 15px;
    _padding-right: 20px;
    color:#F5EDD2 !important;
    font-size:12px !important;
}
div#menu ul ul a:hover span {
    color: #fff !important;
}
div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 97%;
}

/* menu::level3 */
div#menu ul ul ul {
    padding: 0;
    margin: -38px 0 0 163px !important;
    margin-left:172px;
}

div#menu ul ul ul {
  background:url(images/men_bck.png) top left repeat-x #695a02;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  left: -999em;
  margin-top: 1px;
  padding: 5px 0 0;
  position: absolute;
  top: 33px;
  width: 163px;
}

/* colors */
div#menu ul ul ul {  background:url(images/men_bck.png) top left repeat-x #695a02; }
div#menu ul ul ul ul {  background:url(images/men_bck.png) top left repeat-x #695a02; }
div#menu ul ul ul ul {  background:url(images/men_bck.png) top left repeat-x #695a02; }

/* lava lamp */
div#menu li.back {
    background: url(images/lava.png) no-repeat top left !important;
    background-image: url(images/lava.gif);
    width: 13px;
    height: 44px;
    z-index: 8;
    position: absolute;
    margin: -1px 0 0 -4px;
}
div#menu li.back .left {
    background: url(images/lava.png) no-repeat top left !important;
    background-image: url(images/lava.gif);
    height: 44px;
    margin-right: 8px;
}

