@charset "utf-8";
/* CSS Document */

strong {
	font-weight:bold;
}
.clearfix {
	clear:both;
}
a {
	text-decoration:none;
}
.left_header {
  background: url("images/left_head.jpg") repeat-x scroll left top transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: white;
  font-size: 13px !important;
  font-weight: bold;
  height: 16px;
  padding: 14px 18px;
  margin: 0px !important;
}
.left_box {
	border-bottom: 1px solid #D5D5D5;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-left: 1px solid #D5D5D5;
	border-right: 1px solid #D5D5D5;
	box-shadow: -1px 3px 5px #CCCCCC;
}
.searcharea {
	background: url("images/h2img.jpg") repeat-x scroll left top transparent;
	padding: 19px 10px;
	position: relative;
}
.searcharea button {
	background: url("images/drop.png") no-repeat scroll 50% 50% #FFFFFF !important;
	height: 18px !important;
	margin-top: 3px !important;
	padding: 2px 5px !important;
	position: absolute;
	right: 38px;
	top: 9px;
	border:none !important;
}
.searchbutton {
	position: absolute;
	right: 5px;
	top: 8px;
}
.searcharea input {
	border: 1px solid #ADADAD;
	height: 19px;
	padding: 2px 5px;
	position: absolute;
	right: 34px;
	top: 6px;
	width: 182px;
}

.accordian_list_head {
	background: url("images/h2img.jpg") repeat-x scroll left top transparent !important;
	padding: 5px 13px !important;
	position: relative !important;
}

.accordian_list_head a {
	background: url("images/dropblack.png") no-repeat scroll left center transparent !important;
	color: #000000 !important;
	font-size: 13px !important;
	padding-left: 12px !important;
}

.max-height {
	padding: 0px !important;
}
.sublist {
}
.sublist li {
	background: none;
	border-bottom: 1px solid #d5d5d5;
	padding: 6px 0px;
}
.sublist li a {
	background: none;
	color: #6d6d6d;
	font-size: 12px;
	padding-left: 12px;
}

.right_box {
  border: 2px solid #D8D8D8;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 3px 5px #CCCCCC;
  margin-left: 5px;
  min-height: 92%;
  width: 78.5%;
  overflow-y:auto;
  height: 100%;
}

.building_bck {
	background: url("images/bck_right.png") no-repeat scroll left center transparent;
}
* {
	margin:0px;
	padding:0px;
	padding:0px;
	margin:0px;
	outline:none;
	font-family:arial;
	font-size:12px;
	font-weight:normal;
}
strong {
	font-weight:bold;
}
.clear {
	clear:both;
}
a {
	text-decoration:none;
}
#wrapper {
	width:100%;
}
#wrapper_left {
	float:left;
	width:250px;
}
#wrapper_right {
	background:url(images/bck_right.png) left no-repeat;
	float:right;
	border:2px solid #d8d8d8;
	border-radius:20px;
	margin-left:5px; 
	min-height:500px;
	width:100%;
	box-shadow:0px 3px 5px #CCC; 
	overflow-x:hidden; 
}
.wrap_in {
	background:url(../../images/property/offer/boxbot.jpg) bottom left repeat-x transparent;
	min-height:500px;
	padding:10px;
	border-radius:15px;
	overflow:hidden; 
}
#wrapper_left h2 {
	background: url(../images/head-strip.jpg) top left no-repeat;
	height: 20px;
	padding: 9px 28px;
	color: white;
	font-size: 15px;
	font-weight: bold;
}
.navli {
	border-left:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
	border-bottom:1px solid #d5d5d5;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	box-shadow:-1px 3px 5px #CCC;
}
.navli li {
	background:url(../images/h2img.jpg) top left repeat-x;
	padding:13px 10px;
	position:relative;
}
.navli li a {
	background:url(../images/dropblack.png) left no-repeat;
	color:#000;
	font-size:13px;
	padding-left:12px;
}
.navli li #search {
	border:1px solid #adadad;
	width:182px;
	padding:2px 5px;
	height:18px;
	background:url(../images/drop.png) 175px 10px no-repeat #FFF;
	margin-top:-5px;
}
.searchbutton {
	position:absolute;
	right:12px;
	top:8px;
}
.submenu {
	margin-left:-10px;
	margin-top:10px;
	width:249px;
}
.submenu li {
	background:none;
	border-bottom:1px solid #d5d5d5;
	padding:10px 0px;
}
.submenu li a {
	background:none;
	color:#6d6d6d;
	font-size:12px;
}
.reference {
	padding:10px;
	border:1px solid #ccc;
	border-radius:10px;
	position: fixed;
	z-index:9999; 
	width:70%; 
}
.ofice {
	background: url(../../images/property/offer/roundbbk.png) center center repeat-x;
	/*width: 105px;
	height: 10px;
	padding: 12px 0px 12px 0px;*/
	margin: 5px 0px;
	text-align: center;
	border-radius:10px;
	border:1px solid #a3a3a3;
}
.mainarea {
	float:left;
	width:50%;
	padding:10px;
	position: relative;
	top:55px; 
}
.main_index {
	float:right;
	width:30%;
	position: fixed;
	top:102px;
	left:1000px;
}
.reference td {
	font-size: 11px;
	padding: 0 5px;
	vertical-align: middle;
}
.reference_keys {
	background: url(../images/reference.png) top left no-repeat;
	padding: 15px;
	width: 235px;
	height: 37px;
	margin:10px 0px;
}
.reference_keys p {
	margin-top: 10px;
	font-weight: bold;
	font-size: 13px;
	text-align: left;
	padding-left: 120px;
}
.mouseover { 
	background: url('../../images/property/offer/roundbbk_2.png') center center repeat-x; 
	/*width: 105px;
	height: 40px;
	padding: 12px 0px 12px 0px;*/
	margin: 5px 0px;
	text-align: center;
	border-radius:10px;
	border:1px solid #a3a3a3;
}
.selected {
	background: url(../../images/property/offer/roundbbk_3.png) center center repeat-x;
	/*width: 105px;
	height: 40px;
	padding: 12px 0px 12px 0px;*/
	margin: 5px 0px;
	text-align: center;
	border-radius:10px;
	border:1px solid #a3a3a3;
}
.offered {
	background: url('../../images/property/offer/roundbbk_4.png') center center repeat-x;  
	/*width: 105px;
	height: 40px;
	padding: 12px 0px 12px 0px;*/
	margin: 5px 0px;
	text-align: center;
	border-radius:10px;
	border:1px solid #a3a3a3;
}
.rented {
	background: url(../../images/property/offer/roundbbk_5.png) center center repeat-x;
	/*width: 105px;
	height: 40px;
	padding: 12px 0px 12px 0px;*/
	margin: 5px 0px;
	text-align: center;
	border-radius:10px;
	border:1px solid #a3a3a3;
}
.sold {
	background: url(../../images/property/offer/roundbbk_6.png) center center repeat-x;
	/*width: 105px;
	height: 40px;
	padding: 12px 0px 12px 0px;*/
	margin: 5px 0px;
	text-align: center;
	border-radius:10px;
	border:1px solid #a3a3a3;
}
.pending {
	background: url(../../images/property/offer/roundbbk_7.png) center center repeat-x;
	/*width: 105px;
	height: 40px;
	padding: 12px 0px 12px 0px;*/
	margin: 5px 0px;
	text-align: center;
	border-radius:10px;
	border:1px solid #a3a3a3;
}
.renovation {
	background: url(../../images/property/offer/roundbbk_8.png) center center repeat-x;
	/*width: 105px;
	height: 40px;
	padding: 12px 0px 12px 0px;*/
	margin: 5px 0px;
	text-align: center;
	border-radius:10px;
	border:1px solid #a3a3a3;
}
.bigroom {
	background: url(../../images/property/offer/roundbbk.png) center center repeat-x;
	/*width: 211px;
	height: 10px;
	padding: 12px 5px;*/
	margin: 5px 0px;
	border-radius:10px;
	border:1px solid #a3a3a3;
}


.bigroom_mouseover {
	background: url(../../images/property/offer/roundbbk_2.png) top center no-repeat;
	/*width: 217px;
	height: 40px;
	padding: 12px 5px;
	margin:5px 0px;*/
}


.bigroom_selected {
	background: url(../../images/property/offer/roundbbk_3.png) top center no-repeat;
	width: 217px;
	height: 40px;
	padding: 12px 5px;
	margin:5px 0px;
}


.bigroom_offered {
	background: url(../../images/property/offer/roundbbk_4.png) top center no-repeat;
	width: 217px;
	height: 40px;
	padding: 12px 5px;
	margin:5px 0px;
}


.bigroom_rented {
	background: url(../../images/property/offer/roundbbk_5.png) top center no-repeat;
	/*width: 217px;
	height: 40px;
	padding: 12px 5px;
	margin:5px 0px;*/
}


.bigroom_sold {
	background: url(../../images/property/offer/roundbbk_6.png) top center no-repeat;
	/*width: 217px;
	height: 40px;
	padding: 12px 5px;
	margin:5px 0px;*/
}


.bigroom_pending {
	background: url(../../images/property/offer/roundbbk_7.png) top center no-repeat;
	/*width: 217px;
	height: 40px;
	padding: 12px 5px;
	margin:5px 0px;*/
}

.bigroom_renovation {
	background: url(../../images/property/offer/roundbbk_8.png) top center no-repeat;
	/*width: 217px;
	height: 40px;
	padding: 12px 5px;
	margin:5px 0px;*/
}
.componentimg{
	position: relative;
	top:4px;
	right:10px;
}
